In [1]:
import pandas as pd
import numpy as np

import cenpy as cen
from collections import OrderedDict

import time # to make program sleep temporarily 

import warnings
warnings.simplefilter('ignore')

/Users/lmhartmann/miniconda3/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
ny_zip_ref = pd.read_csv('New_York_State_Zip_Codes-County_FIPS_Cross-Reference.csv')

# only need to keep 'County Name' and 'ZIP Code'

ny_zip_ref = ny_zip_ref[['County Name', 'ZIP Code']]
ny_zip_ref

     County Name  ZIP Code
0         Albany     12007
1         Albany     12009
2         Albany     12023
3         Albany     12041
4         Albany     12045
...          ...       ...
2538       Yates     14561
2539       Yates     14837
2540       Yates     14842
2541       Yates     14857
2542       Yates     14878

[2543 rows x 2 columns]

In [3]:
# might not need this

sites = pd.read_csv('Voting_Poll_Sites.csv')
sites

,BOROUGH,SITE_STATUS,SITE_NAME,SITE_NUMBER,STREET_NUMBER,STREET_SUFFIX,STREET_NAME,POSTCODE,CITY,VOTER_ENTRANCE,HANDICAP_ENTRANCE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location
0,BROOKLYN,A,PS 12,11537,430,NaN,Howard Avenue,11233,Brooklyn,430 Howard Avenue (not used for voters),Enter on Prospect Place through school yard,NaN,NaN,16.0,41.0,363.0,3039174.0,3.014570e+09,Ocean Hill,NaN
1,NaN,A,Wyatt T. Walker Senior Housing,11517,2177,NaN,Frederick Douglass Boulevard,10026,New York,2177 Frederick Douglas Blvd,2177 Frederick Douglas Blvd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,QUEENS,A,Allen AME Senior Center,10590,112-04,NaN,167 Street,11433,Jamaica,112-04 167th Street,112-04 167th Street,40.691478,-73.783335,12.0,27.0,266.0,4435291.0,4.123220e+09,South Jamaica,"(40.691478, -73.783335)"
3,BROOKLYN,A,Marlboro Memorial Post,11493,300,NaN,Avenue X,11223,Brooklyn,300 Avenue X,300 Avenue X,NaN,NaN,15.0,47.0,37402.0,3195077.0,3.071940e+09,Gravesend,NaN
4,BROOKLYN,A,PAL-Wynn Center,11629,495,NaN,Gates Avenue,11216,Brooklyn,495 Gates Avenue,495 Gates Avenue,NaN,NaN,3.0,36.0,265.0,3050974.0,3.018090e+09,Bedford,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1226,QUEENS,A,PS 107-Thomas A Dooley,Q0082,167-02,NaN,45 Avenue,11358,Flushing,167-02 45 Avenue,Side Entrance facing 168th Street near 45th Av...,40.755951,-73.799746,7.0,19.0,1195.0,4123454.0,4.054460e+09,East Flushing,"(40.755951, -73.799746)"
1227,MANHATTAN,A,Triangle House,M0015,112,NaN,East 128 Street,10035,New York,112 East 128 Street,112 East 128 Street,40.806665,-73.937085,11.0,9.0,242.0,1054499.0,1.017750e+09,East Harlem North,"(40.806665, -73.937085)"
1228,BROOKLYN,A,Warbasse Houses Bldg 5C,B0274,545,NaN,Neptune Avenue,11224,Brooklyn,545 Neptune Avenue,West Avenue,40.579987,-73.973001,13.0,47.0,354.0,3257102.0,3.072500e+09,West Brighton,"(40.579987, -73.973001)"
1229,BRONX,A,Pelham Pkwy Community Center,00036,785,NaN,Pelham Parkway North,10467,Bronx,785 Pelham Parkway North - around playgound,785 Pelham Parkway North - around playgound,40.857972,-73.864564,11.0,13.0,328.0,2093364.0,2.043490e+09,Bronxdale,"(40.857972, -73.864564)"
1230,STATEN IS,A,PS 20 Port Richmond,10574,161,NaN,Park Avenue,10302,Staten Island,161 Park Avenue,To the right of the Main Entrance,40.636547,-74.132869,1.0,49.0,207.0,5106979.0,5.010200e+09,Port Richmond,"(40.636547, -74.132869)"

In [4]:
pres = pd.read_csv('2016President.csv')

# keep select columns
pres_cols = ["county", "office", "party", "candidate", "votes"]
pres = pres[pres_cols]

# keep only where office == President
pres = pres.loc[pres['office'] == "President"]
pres = pres.drop(['office'], axis = 1)

# drop NAN values
pres = pres.dropna()

# get voting sums
agg_functions = {'county': 'first', 'candidate': 'first', 'party': 'first', 'votes': 'sum'}
pres_agg = pres.groupby(['county', 'candidate']).aggregate(agg_functions)

# drop index
pres_agg = pres_agg.reset_index(drop = True)
pres_agg

pres_agg

       county        candidate party    votes
0      Albany  Donald J. Trump   REP  47808.0
1      Albany     Gary Johnson   IND   4792.0
2      Albany  Hillary Clinton   DEM  83071.0
3      Albany       Jill Stein   GRN   2475.0
4    Allegany  Donald J. Trump   REP  12525.0
..        ...              ...   ...      ...
247   Wyoming       Jill Stein   GRN    180.0
248     Yates  Donald J. Trump   REP   5660.0
249     Yates     Gary Johnson   IND    494.0
250     Yates  Hillary Clinton   DEM   3659.0
251     Yates       Jill Stein   GRN    146.0

[252 rows x 4 columns]

In [26]:
counties = pres_agg.county.unique().tolist()
counties
# print(len(counties)) # 63

['Albany',
 'Allegany',
 'Bronx',
 'Broome',
 'Cattaraugus',
 'Cayuga',
 'Chautauqua',
 'Chemung',
 'Chenango',
 'Clinton',
 'Columbia',
 'Cortland',
 'Delaware',
 'Dutchess',
 'Erie',
 'Essex',
 'Franklin',
 'Fulton',
 'Genesee',
 'Greene',
 'Hamilton',
 'Herkimer',
 'Jefferson',
 'Kings',
 'Lewis',
 'Livingston',
 'Madison',
 'Monroe',
 'Montgomery',
 'Nassau',
 'New York',
 'Niagara',
 'Oneida',
 'Onondaga',
 'Ontario',
 'Orange',
 'Orleans',
 'Oswego',
 'Otsego',
 'Putnam',
 'Queens',
 'Rensselaer',
 'Richmond',
 'Rockland',
 'Saratoga',
 'Schenectady',
 'Schoharie',
 'Schuyler',
 'Seneca',
 'St. Lawrence',
 'Steuben',
 'Suffolk',
 'Sullivan',
 'Tioga',
 'Tompkins',
 'Total',
 'Ulster',
 'Warren',
 'Washington',
 'Wayne',
 'Westchester',
 'Wyoming',
 'Yates']

In [6]:
# using cenpy get NY data
acs = cen.products.ACS()
acs.from_place('NY')

Matched: NY to Onyx CDP within layer Census Designated Places

Empty GeoDataFrame
Columns: [geometry, state, county, tract, GEOID]
Index: []

In [7]:
# to see what categories we can look through
acs.tables

,description,columns
table_name,,
B01001,SEX BY AGE,"[B01001_001E, B01001_002E, B01001_003E, B01001..."
B01002,MEDIAN AGE BY SEX,"[B01002_001E, B01002_002E, B01002_003E]"
B01003,TOTAL POPULATION,[B01003_001E]
B02001,RACE,"[B02001_001E, B02001_002E, B02001_003E, B02001..."
B02008,WHITE ALONE OR IN COMBINATION WITH ONE OR MORE...,[B02008_001E]
...,...,...
C27014,PUBLIC HEALTH INSURANCE BY WORK EXPERIENCE,"[C27014_001E, C27014_002E, C27014_003E, C27014..."
C27016,HEALTH INSURANCE COVERAGE STATUS BY RATIO OF I...,"[C27016_001E, C27016_002E, C27016_003E, C27016..."
C27017,PRIVATE HEALTH INSURANCE BY RATIO OF INCOME TO...,"[C27017_001E, C27017_002E, C27017_003E, C27017..."
C27018,PUBLIC HEALTH INSURANCE BY RATIO OF INCOME TO ...,"[C27018_001E, C27018_002E, C27018_003E, C27018..."
C27021,HEALTH INSURANCE COVERAGE STATUS BY LIVING AR...,"[C27021_001E, C27021_002E, C27021_003E, C27021..."

In [ ]:
# all_options = acs.tables.description.unique().tolist()
# all_options 

# # ones to look at 
# # sex
# # race
# # education
# # health insurance
# # family income

## Create Dataframe on Sex Data

In [8]:
acs.filter_tables('SEX', by = 'description')

,description,columns
table_name,,
B01001,SEX BY AGE,"[B01001_001E, B01001_002E, B01001_003E, B01001..."
B01002,MEDIAN AGE BY SEX,"[B01002_001E, B01002_002E, B01002_003E]"
B05003,SEX BY AGE BY NATIVITY AND CITIZENSHIP STATUS,"[B05003_001E, B05003_002E, B05003_003E, B05003..."
B05004,MEDIAN AGE BY NATIVITY AND CITIZENSHIP STATUS ...,"[B05004_001E, B05004_002E, B05004_003E, B05004..."
B05008,SEX BY PLACE OF BIRTH BY YEAR OF ENTRY FOR THE...,"[B05008_001E, B05008_002E, B05008_003E, B05008..."
...,...,...
C27005,DIRECT-PURCHASE HEALTH INSURANCE BY SEX BY AGE,"[C27005_001E, C27005_002E, C27005_003E, C27005..."
C27006,MEDICARE COVERAGE BY SEX BY AGE,"[C27006_001E, C27006_002E, C27006_003E, C27006..."
C27007,MEDICAID/MEANS-TESTED PUBLIC COVERAGE BY SEX B...,"[C27007_001E, C27007_002E, C27007_003E, C27007..."
C27008,TRICARE/MILITARY HEALTH COVERAGE BY SEX BY AGE,"[C27008_001E, C27008_002E, C27008_003E, C27008..."
C27009,VA HEALTH CARE BY SEX BY AGE,"[C27009_001E, C27009_002E, C27009_003E, C27009..."

In [9]:
totalSexData = acs.filter_variables('B01001')

In [27]:
# sexData = []

# the columns we are looking for
to_keep = ["Estimate!!Total:", "Estimate!!Total:!!Female:",
          "Estimate!!Total:!!Female:!!18 and 19 years", "Estimate!!Total:!!Female:!!20 to 24 years",
          "Estimate!!Total:!!Female:!!25 to 29 years", "Estimate!!Total:!!Female:!!30 to 34 years",
          "Estimate!!Total:!!Female:!!35 to 44 years", "Estimate!!Total:!!Female:!!45 to 54 years",
          "Estimate!!Total:!!Female:!!55 to 64 years", "Estimate!!Total:!!Female:!!65 to 74 years",
          "Estimate!!Total:!!Female:!!75 to 84 years", "Estimate!!Total:!!Female:!!85 years and over",
          "Estimate!!Total:!!Male:",
          "Estimate!!Total:!!Male:!!18 and 19 years", "Estimate!!Total:!!Male:!!20 to 24 years",
          "Estimate!!Total:!!Male:!!25 to 29 years", "Estimate!!Total:!!Male:!!30 to 34 years",
          "Estimate!!Total:!!Male:!!35 to 44 years", "Estimate!!Total:!!Male:!!45 to 54 years",
          "Estimate!!Total:!!Male:!!55 to 64 years", "Estimate!!Total:!!Male:!!65 to 74 years",
          "Estimate!!Total:!!Male:!!75 to 84 years", "Estimate!!Total:!!Male:!!85 years and over"]

# renamed column names
rename = ["Total:", "Total Female:",
          "Total Female: 18 and 19 years", "Total Female: 20 to 24 years",
          "Total Female: 25 to 29 years", "Total Female: 30 to 34 years",
          "Total Female: 35 to 44 years", "Total Female: 45 to 54 years",
          "Total Female: 55 to 64 years", "Total Female: 65 to 74 years",
          "Total Female: 75 to 84 years", "Total Female: 85 years and over",
          "Total Male:",
          "Total Male: 18 and 19 years", "Total Male: 20 to 24 years",
          "Total Male: 25 to 29 years", "Total Male: 30 to 34 years",
          "Total Male: 35 to 44 years", "Total Male: 45 to 54 years",
          "Total Male: 55 to 64 years", "Total Male: 65 to 74 years",
          "Total Male: 75 to 84 years", "Total Male: 85 years and over"]

# do the first 20 counties
for i in range(50, 63, 1):

    name = counties[i] + ", NY"
    currentDF = acs.from_county(name, variables = 'B01001')
    current = counties[i]
    
    # if first round through
    # create labels to rename the dataframes
    if i == 0:
        indexVals = totalSexData.index
        labels = totalSexData['label'].to_list()
        labelsDict = OrderedDict({})
        for key in indexVals:
            for value in labels:
                labelsDict[key] = value
                labels.remove(value)
                break

        labelsDict.update({"geometry": "geometry"})
        labelsDict.move_to_end("geometry", last = False)

        labelsDict.update({"GEOID": "GEOID"})
        labelsDict.move_to_end("GEOID", last = False)

        labelsDict.update({"state": "state"})
        labelsDict.update({"county": "county"})
        labelsDict.update({"tract": "tract"})
        labelsDict.update({"NAME": "NAME"})
    
    # rename the dataframe
    currentDF.columns = currentDF.columns.to_series().map(labelsDict)
    
    # drop the duplciate columns in the county dataframe
    currentDF = currentDF.loc[:, ~currentDF.columns.duplicated()].copy()
    
    # only keep the previously selected columns
    currentDF = currentDF[to_keep]

    # rename the columns 
    currentDF = currentDF.set_axis(rename, axis = 1)
    
    
    # get the sums for each category and put into a dictonary
    current_sums = currentDF.sum().to_dict()
    current_sums = OrderedDict(current_sums)

    current_sums.update({"County": current})
    current_sums.move_to_end("County", last = False)

    current_sums = dict(current_sums)

    # if first run through
    # get the headers for the final dataframe
    # append to the final dataframe
    if i == 0:
        headers = list(current_sums.keys())
        sexData.append(headers)
        
    # create inner_row to append
    # and append to final dataframe
    inner_row = list(current_sums.values())
    sexData.append(inner_row)
    
    if (i % 2 == 0):
        print(inner_row)
    
    
    time.sleep(5)

['Steuben', 91286.0, 46006.0, 905.0, 2511.0, 2579.0, 2535.0, 5125.0, 6270.0, 6926.0, 5313.0, 3061.0, 1366.0, 45280.0, 993.0, 2591.0, 2638.0, 2598.0, 5153.0, 6233.0, 6968.0, 4900.0, 2534.0, 728.0]
['Sullivan', 59949.0, 29836.0, 466.0, 1548.0, 1651.0, 1744.0, 3155.0, 4164.0, 4822.0, 3805.0, 1980.0, 704.0, 30113.0, 630.0, 1623.0, 1685.0, 1685.0, 3142.0, 4225.0, 4913.0, 3777.0, 1939.0, 384.0]
['Tompkins', 82359.0, 42174.0, 3990.0, 5298.0, 2687.0, 2322.0, 4498.0, 4718.0, 5621.0, 4202.0, 1983.0, 1149.0, 40185.0, 3701.0, 5682.0, 2797.0, 2289.0, 4071.0, 4506.0, 4997.0, 3881.0, 1580.0, 575.0]
['Ulster', 151001.0, 77592.0, 2103.0, 4481.0, 4547.0, 4199.0, 8375.0, 11143.0, 12860.0, 9925.0, 5372.0, 2441.0, 73409.0, 1852.0, 4528.0, 4704.0, 4193.0, 8318.0, 10722.0, 12288.0, 8862.0, 3904.0, 1525.0]
['Washington', 57686.0, 28690.0, 487.0, 1435.0, 1643.0, 1620.0, 3198.0, 4292.0, 4569.0, 3356.0, 1838.0, 944.0, 28996.0, 589.0, 1653.0, 1739.0, 1710.0, 3429.0, 4292.0, 4538.0, 3281.0, 1582.0, 438.0]
['Westchester', 622855.0, 319393.0, 7715.0, 17738.0, 14681.0, 15676.0, 34912.0, 47238.0, 47897.0, 35246.0, 22671.0, 14424.0, 303462.0, 7672.0, 18240.0, 14559.0, 15990.0, 35153.0, 45566.0, 46094.0, 30927.0, 15935.0, 7845.0]
['Yates', 24122.0, 12367.0, 437.0, 978.0, 648.0, 580.0, 1157.0, 1437.0, 1948.0, 1420.0, 806.0, 355.0, 11755.0, 360.0, 803.0, 691.0, 632.0, 1096.0, 1396.0, 1776.0, 1453.0, 705.0, 162.0]

In [28]:
# make into dataframe
sexDF = pd.DataFrame(sexData)

# make first row the header
new_header = sexDF.iloc[0] 
sexDF = sexDF[1:] 
sexDF.columns = new_header 

# view
sexDF

,County,Total:,Total Female:,Total Female: 18 and 19 years,Total Female: 20 to 24 years,Total Female: 25 to 29 years,Total Female: 30 to 34 years,Total Female: 35 to 44 years,Total Female: 45 to 54 years,Total Female: 55 to 64 years,...,Total Male: 18 and 19 years,Total Male: 20 to 24 years,Total Male: 25 to 29 years,Total Male: 30 to 34 years,Total Male: 35 to 44 years,Total Male: 45 to 54 years,Total Male: 55 to 64 years,Total Male: 65 to 74 years,Total Male: 75 to 84 years,Total Male: 85 years and over
1,Albany,231246.0,118927.0,4517.0,11264.0,7148.0,6872.0,12631.0,15372.0,17789.0,...,4465.0,11548.0,7392.0,7327.0,12849.0,14959.0,16516.0,11693.0,5090.0,2276.0
2,Allegany,44565.0,22044.0,1124.0,1768.0,1065.0,1169.0,2258.0,2676.0,3212.0,...,1334.0,2020.0,1143.0,1124.0,2248.0,2629.0,3301.0,2479.0,1088.0,481.0
3,Bronx,315533.0,164059.0,4405.0,10370.0,10733.0,10563.0,17809.0,20292.0,20985.0,...,4395.0,10760.0,11539.0,10584.0,18655.0,18770.0,18439.0,14595.0,8660.0,3521.0
4,Broome,165108.0,84187.0,2909.0,6913.0,4423.0,4335.0,8417.0,10583.0,12909.0,...,3187.0,7421.0,4688.0,4502.0,8310.0,10243.0,12542.0,8471.0,4591.0,1747.0
5,Cattaraugus,70859.0,35715.0,947.0,2079.0,1891.0,1879.0,3841.0,4776.0,5603.0,...,982.0,2146.0,1944.0,1881.0,3821.0,4758.0,5546.0,3976.0,1898.0,567.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Washington,57686.0,28690.0,487.0,1435.0,1643.0,1620.0,3198.0,4292.0,4569.0,...,589.0,1653.0,1739.0,1710.0,3429.0,4292.0,4538.0,3281.0,1582.0,438.0
60,Wayne,84123.0,42635.0,800.0,2311.0,2257.0,2355.0,4641.0,6345.0,6843.0,...,973.0,2313.0,2359.0,2316.0,4596.0,6165.0,6579.0,4612.0,2126.0,618.0
61,Westchester,622855.0,319393.0,7715.0,17738.0,14681.0,15676.0,34912.0,47238.0,47897.0,...,7672.0,18240.0,14559.0,15990.0,35153.0,45566.0,46094.0,30927.0,15935.0,7845.0
62,Wyoming,36882.0,17947.0,333.0,975.0,1067.0,1005.0,1967.0,2589.0,2788.0,...,386.0,1062.0,1250.0,1202.0,2244.0,2847.0,2976.0,2103.0,910.0,255.0
63,Yates,24122.0,12367.0,437.0,978.0,648.0,580.0,1157.0,1437.0,1948.0,...,360.0,803.0,691.0,632.0,1096.0,1396.0,1776.0,1453.0,705.0,162.0

In [29]:
# write to sex data to csv
# as backup
sexDF.to_csv("NY_sexData.csv")

In [36]:
# check csv saved correctly
# read data in from csv
# this is so you don't have to run through the previous for loop (saves time)

sexDF = pd.read_csv('NY_sexData.csv')
sexDF = sexDF.drop(['Unnamed: 0'], axis = 1)
sexDF

,County,Total:,Total Female:,Total Female: 18 and 19 years,Total Female: 20 to 24 years,Total Female: 25 to 29 years,Total Female: 30 to 34 years,Total Female: 35 to 44 years,Total Female: 45 to 54 years,Total Female: 55 to 64 years,...,Total Male: 18 and 19 years,Total Male: 20 to 24 years,Total Male: 25 to 29 years,Total Male: 30 to 34 years,Total Male: 35 to 44 years,Total Male: 45 to 54 years,Total Male: 55 to 64 years,Total Male: 65 to 74 years,Total Male: 75 to 84 years,Total Male: 85 years and over
0,Albany,231246.0,118927.0,4517.0,11264.0,7148.0,6872.0,12631.0,15372.0,17789.0,...,4465.0,11548.0,7392.0,7327.0,12849.0,14959.0,16516.0,11693.0,5090.0,2276.0
1,Allegany,44565.0,22044.0,1124.0,1768.0,1065.0,1169.0,2258.0,2676.0,3212.0,...,1334.0,2020.0,1143.0,1124.0,2248.0,2629.0,3301.0,2479.0,1088.0,481.0
2,Bronx,315533.0,164059.0,4405.0,10370.0,10733.0,10563.0,17809.0,20292.0,20985.0,...,4395.0,10760.0,11539.0,10584.0,18655.0,18770.0,18439.0,14595.0,8660.0,3521.0
3,Broome,165108.0,84187.0,2909.0,6913.0,4423.0,4335.0,8417.0,10583.0,12909.0,...,3187.0,7421.0,4688.0,4502.0,8310.0,10243.0,12542.0,8471.0,4591.0,1747.0
4,Cattaraugus,70859.0,35715.0,947.0,2079.0,1891.0,1879.0,3841.0,4776.0,5603.0,...,982.0,2146.0,1944.0,1881.0,3821.0,4758.0,5546.0,3976.0,1898.0,567.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Washington,57686.0,28690.0,487.0,1435.0,1643.0,1620.0,3198.0,4292.0,4569.0,...,589.0,1653.0,1739.0,1710.0,3429.0,4292.0,4538.0,3281.0,1582.0,438.0
59,Wayne,84123.0,42635.0,800.0,2311.0,2257.0,2355.0,4641.0,6345.0,6843.0,...,973.0,2313.0,2359.0,2316.0,4596.0,6165.0,6579.0,4612.0,2126.0,618.0
60,Westchester,622855.0,319393.0,7715.0,17738.0,14681.0,15676.0,34912.0,47238.0,47897.0,...,7672.0,18240.0,14559.0,15990.0,35153.0,45566.0,46094.0,30927.0,15935.0,7845.0
61,Wyoming,36882.0,17947.0,333.0,975.0,1067.0,1005.0,1967.0,2589.0,2788.0,...,386.0,1062.0,1250.0,1202.0,2244.0,2847.0,2976.0,2103.0,910.0,255.0
62,Yates,24122.0,12367.0,437.0,978.0,648.0,580.0,1157.0,1437.0,1948.0,...,360.0,803.0,691.0,632.0,1096.0,1396.0,1776.0,1453.0,705.0,162.0

## Create Dataframe on Race Data

In [39]:
acs.filter_tables('RACE', by = 'description')

,description,columns
table_name,,
B02001,RACE,"[B02001_001E, B02001_002E, B02001_003E, B02001..."
B02008,WHITE ALONE OR IN COMBINATION WITH ONE OR MORE...,[B02008_001E]
B02009,BLACK OR AFRICAN AMERICAN ALONE OR IN COMBINAT...,[B02009_001E]
B02010,AMERICAN INDIAN AND ALASKA NATIVE ALONE OR IN ...,[B02010_001E]
B02011,ASIAN ALONE OR IN COMBINATION WITH ONE OR MORE...,[B02011_001E]
B02012,NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALO...,[B02012_001E]
B02013,SOME OTHER RACE ALONE OR IN COMBINATION WITH O...,[B02013_001E]
B03002,HISPANIC OR LATINO ORIGIN BY RACE,"[B03002_001E, B03002_002E, B03002_003E, B03002..."
B25006,RACE OF HOUSEHOLDER,"[B25006_001E, B25006_002E, B25006_003E, B25006..."
B98013,TOTAL POPULATION COVERAGE RATE BY WEIGHTING RA...,"[B98013_001E, B98013_002E, B98013_003E, B98013..."
B99021,ALLOCATION OF RACE,"[B99021_001E, B99021_002E, B99021_003E]"
C02003,DETAILED RACE,"[C02003_001E, C02003_002E, C02003_003E, C02003..."

In [43]:
totalRaceData = acs.filter_variables('B02001')
totalRaceData["label"].unique().tolist()

['Estimate!!Total:!!Two or more races:!!Two races including Some other race',
 'Estimate!!Total:!!Some other race alone',
 'Estimate!!Total:!!Two or more races:',
 'Estimate!!Total:!!Two or more races:!!Two races excluding Some other race, and three or more races',
 'Estimate!!Total:!!White alone',
 'Estimate!!Total:',
 'Estimate!!Total:!!Native Hawaiian and Other Pacific Islander alone',
 'Estimate!!Total:!!Asian alone',
 'Estimate!!Total:!!American Indian and Alaska Native alone',
 'Estimate!!Total:!!Black or African American alone']

In [57]:
# raceData = []

to_keep = ['Estimate!!Total:!!Two or more races:!!Two races including Some other race', 
           "Estimate!!Total:!!Some other race alone", 
           "Estimate!!Total:!!Two or more races:", 
           'Estimate!!Total:!!Two or more races:!!Two races excluding Some other race, and three or more races',
           "Estimate!!Total:!!White alone", "Estimate!!Total:",
           "Estimate!!Total:!!Native Hawaiian and Other Pacific Islander alone",
           "Estimate!!Total:!!Asian alone", 
           "Estimate!!Total:!!American Indian and Alaska Native alone",
           "Estimate!!Total:!!Black or African American alone"]

# renamed column names
rename = ["Total: Two or more races: Two races including Some other race", "Total: Some other race alone", 
          "Total: Two or more races", "Total: Two or more races excluding Some other race, and three or more races",
          "Total: White alone", "Total:",
          "Total: Native Hawaiian and Other Pacific Islander alone",
          "Total: Asian alone", "Total: American Indian and Alaska Native alone",
          "Total: Black or African American alone"]


for i in range(30, 63, 1):

    name = counties[i] + ", NY"
    currentDF = acs.from_county(name, variables = 'B02001')
    current = counties[i]
    
    # if first round through
    # create labels to rename the dataframes
    if i == 0:
        indexVals = totalRaceData.index
        labels = totalRaceData['label'].to_list()
        labelsDict = OrderedDict({})
        for key in indexVals:
            for value in labels:
                labelsDict[key] = value
                labels.remove(value)
                break

        labelsDict.update({"geometry": "geometry"})
        labelsDict.move_to_end("geometry", last = False)

        labelsDict.update({"GEOID": "GEOID"})
        labelsDict.move_to_end("GEOID", last = False)

        labelsDict.update({"state": "state"})
        labelsDict.update({"county": "county"})
        labelsDict.update({"tract": "tract"})
        labelsDict.update({"NAME": "NAME"})
    
    # rename the dataframe
    currentDF.columns = currentDF.columns.to_series().map(labelsDict)
    
    # drop the duplciate columns in the dataframe
    currentDF = currentDF.loc[:, ~currentDF.columns.duplicated()].copy()
    
    # only keep the previously selected columns
    currentDF = currentDF[to_keep]
    

    # rename the columns 
    currentDF = currentDF.set_axis(rename, axis = 1)
    
    
    # get the sums for each category and put into a dictonary
    current_sums = currentDF.sum().to_dict()
    current_sums = OrderedDict(current_sums)

    current_sums.update({"County": current})
    current_sums.move_to_end("County", last = False)

    current_sums = dict(current_sums)

    # if first run through
    # get the headers for the final dataframe
    # append to the final dataframe
    if i == 0:
        headers = list(current_sums.keys())
        raceData.append(headers)
        
    # create inner_row to append
    # and append to final dataframe
    inner_row = list(current_sums.values())
    raceData.append(inner_row)
    
    # for periodic checking
    if ((i % 2) == 0):
        print(inner_row)
        
        
        
    # force code to take time
    # do this to avoid a 429 error
    # (too many requests error)
    time.sleep(5)

['New York', 19020.0, 188400.0, 74668.0, 55648.0, 922033.0, 1631993.0, 888.0, 198833.0, 6178.0, 240993.0]
['Oneida', 1113.0, 3263.0, 6790.0, 5677.0, 196219.0, 229959.0, 70.0, 9304.0, 542.0, 13771.0]
['Ontario', 291.0, 1582.0, 1864.0, 1573.0, 101371.0, 109511.0, 36.0, 1501.0, 388.0, 2769.0]
['Orleans', 38.0, 797.0, 993.0, 955.0, 36345.0, 40904.0, 0.0, 250.0, 136.0, 2383.0]
['Otsego', 259.0, 430.0, 1291.0, 1032.0, 56036.0, 59972.0, 6.0, 814.0, 92.0, 1303.0]
['Queens', 30892.0, 316141.0, 82764.0, 51872.0, 875191.0, 2287388.0, 1078.0, 583459.0, 10326.0, 418429.0]
['Richmond', 2112.0, 17548.0, 10862.0, 8750.0, 352034.0, 474893.0, 219.0, 44246.0, 1026.0, 48958.0]
['Saratoga', 433.0, 1195.0, 4277.0, 3844.0, 211792.0, 228502.0, 41.0, 6697.0, 508.0, 3992.0]
['Schoharie', 72.0, 170.0, 427.0, 355.0, 29791.0, 31222.0, 9.0, 281.0, 48.0, 496.0]
['Seneca', 37.0, 312.0, 543.0, 506.0, 31355.0, 34390.0, 8.0, 285.0, 143.0, 1744.0]
['Steuben', 96.0, 462.0, 1465.0, 1369.0, 91286.0, 96422.0, 3.0, 1480.0, 103.0, 1623.0]
['Sullivan', 261.0, 4283.0, 3433.0, 3172.0, 59949.0, 75116.0, 0.0, 1265.0, 196.0, 5990.0]
['Tompkins', 457.0, 1666.0, 4513.0, 4056.0, 82359.0, 102642.0, 57.0, 9964.0, 224.0, 3859.0]
['Ulster', 1423.0, 5515.0, 7476.0, 6053.0, 151001.0, 178665.0, 102.0, 3396.0, 395.0, 10780.0]
['Washington', 81.0, 518.0, 869.0, 788.0, 57686.0, 61616.0, 7.0, 371.0, 196.0, 1969.0]
['Westchester', 8362.0, 110029.0, 29968.0, 21606.0, 622855.0, 968890.0, 251.0, 58140.0, 3594.0, 144053.0]
['Yates', 33.0, 111.0, 304.0, 271.0, 24122.0, 25011.0, 6.0, 163.0, 51.0, 254.0]

In [58]:
# make into dataframe
raceDF = pd.DataFrame(raceData)

# add header
new_header = raceDF.iloc[0] 
raceDF = raceDF[1:] 
raceDF.columns = new_header 

# view
raceDF

,County,Total: Two or more races: Two races including Some other race,Total: Some other race alone,Total: Two or more races,"Total: Two or more races excluding Some other race, and three or more races",Total: White alone,Total:,Total: Native Hawaiian and Other Pacific Islander alone,Total: Asian alone,Total: American Indian and Alaska Native alone,Total: Black or African American alone
1,Albany,1048.0,4085.0,12787.0,11739.0,231246.0,306968.0,129.0,20192.0,494.0,38035.0
2,Allegany,6.0,216.0,537.0,531.0,44565.0,46688.0,15.0,548.0,107.0,700.0
3,Bronx,23245.0,494363.0,55868.0,32623.0,315533.0,1435068.0,1385.0,52989.0,10116.0,504814.0
4,Broome,535.0,2058.0,6292.0,5757.0,165108.0,193188.0,75.0,8389.0,348.0,10918.0
5,Cattaraugus,144.0,470.0,1581.0,1437.0,70859.0,77121.0,0.0,610.0,2485.0,1116.0
...,...,...,...,...,...,...,...,...,...,...,...
59,Washington,81.0,518.0,869.0,788.0,57686.0,61616.0,7.0,371.0,196.0,1969.0
60,Wayne,188.0,960.0,1915.0,1727.0,84123.0,90519.0,105.0,725.0,148.0,2543.0
61,Westchester,8362.0,110029.0,29968.0,21606.0,622855.0,968890.0,251.0,58140.0,3594.0,144053.0
62,Wyoming,60.0,569.0,815.0,755.0,36882.0,40305.0,0.0,167.0,203.0,1669.0
63,Yates,33.0,111.0,304.0,271.0,24122.0,25011.0,6.0,163.0,51.0,254.0

In [59]:
# write to csv
# write to sex data to csv
# as backup
raceDF.to_csv("NY_raceData.csv")

In [60]:
# check csv saved correctly
# read data in from csv
# this is so you don't have to run through the previous for loop (saves time)

raceDF = pd.read_csv('NY_raceData.csv')
raceDF = raceDF.drop(['Unnamed: 0'], axis = 1)
raceDF

,County,Total: Two or more races: Two races including Some other race,Total: Some other race alone,Total: Two or more races,"Total: Two or more races excluding Some other race, and three or more races",Total: White alone,Total:,Total: Native Hawaiian and Other Pacific Islander alone,Total: Asian alone,Total: American Indian and Alaska Native alone,Total: Black or African American alone
0,Albany,1048.0,4085.0,12787.0,11739.0,231246.0,306968.0,129.0,20192.0,494.0,38035.0
1,Allegany,6.0,216.0,537.0,531.0,44565.0,46688.0,15.0,548.0,107.0,700.0
2,Bronx,23245.0,494363.0,55868.0,32623.0,315533.0,1435068.0,1385.0,52989.0,10116.0,504814.0
3,Broome,535.0,2058.0,6292.0,5757.0,165108.0,193188.0,75.0,8389.0,348.0,10918.0
4,Cattaraugus,144.0,470.0,1581.0,1437.0,70859.0,77121.0,0.0,610.0,2485.0,1116.0
...,...,...,...,...,...,...,...,...,...,...,...
58,Washington,81.0,518.0,869.0,788.0,57686.0,61616.0,7.0,371.0,196.0,1969.0
59,Wayne,188.0,960.0,1915.0,1727.0,84123.0,90519.0,105.0,725.0,148.0,2543.0
60,Westchester,8362.0,110029.0,29968.0,21606.0,622855.0,968890.0,251.0,58140.0,3594.0,144053.0
61,Wyoming,60.0,569.0,815.0,755.0,36882.0,40305.0,0.0,167.0,203.0,1669.0
62,Yates,33.0,111.0,304.0,271.0,24122.0,25011.0,6.0,163.0,51.0,254.0

## Create Dataframe on Education

In [61]:
acs.filter_tables('EDUCATION', by = 'description')

,description,columns
table_name,,
B06009,PLACE OF BIRTH BY EDUCATIONAL ATTAINMENT IN TH...,"[B06009_001E, B06009_002E, B06009_003E, B06009..."
B07009,GEOGRAPHICAL MOBILITY IN THE PAST YEAR BY EDUC...,"[B07009_001E, B07009_002E, B07009_003E, B07009..."
B07409,GEOGRAPHICAL MOBILITY IN THE PAST YEAR BY EDUC...,"[B07409_001E, B07409_002E, B07409_003E, B07409..."
B13014,WOMEN 15 TO 50 YEARS WHO HAD A BIRTH IN THE PA...,"[B13014_001E, B13014_002E, B13014_003E, B13014..."
B14005,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,"[B14005_001E, B14005_002E, B14005_003E, B14005..."
B15001,SEX BY AGE BY EDUCATIONAL ATTAINMENT FOR THE P...,"[B15001_001E, B15001_002E, B15001_003E, B15001..."
B15002,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,"[B15002_001E, B15002_002E, B15002_003E, B15002..."
B15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 Y...,"[B15003_001E, B15003_002E, B15003_003E, B15003..."
B16010,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...,"[B16010_001E, B16010_002E, B16010_003E, B16010..."
B17003,POVERTY STATUS IN THE PAST 12 MONTHS OF INDIVI...,"[B17003_001E, B17003_002E, B17003_003E, B17003..."
B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,"[B17018_001E, B17018_002E, B17018_003E, B17018..."
B20004,MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019...,"[B20004_001E, B20004_002E, B20004_003E, B20004..."
B21003,VETERAN STATUS BY EDUCATIONAL ATTAINMENT FOR T...,"[B21003_001E, B21003_002E, B21003_003E, B21003..."
B23006,EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FO...,"[B23006_001E, B23006_002E, B23006_003E, B23006..."
B25013,TENURE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER,"[B25013_001E, B25013_002E, B25013_003E, B25013..."
B26106,GROUP QUARTERS TYPE (3 TYPES) BY EDUCATIONAL A...,"[B26106_001E, B26106_002E, B26106_003E, B26106..."
B26206,GROUP QUARTERS TYPE (5 TYPES) BY EDUCATIONAL A...,"[B26206_001E, B26206_002E, B26206_003E, B26206..."
B27019,HEALTH INSURANCE COVERAGE STATUS AND TYPE BY A...,"[B27019_001E, B27019_002E, B27019_003E, B27019..."
B28006,EDUCATIONAL ATTAINMENT BY PRESENCE OF A COMPUT...,"[B28006_001E, B28006_002E, B28006_003E, B28006..."
B29002,"CITIZEN, VOTING-AGE POPULATION BY EDUCATIONAL ...","[B29002_001E, B29002_002E, B29002_003E, B29002..."
B99151,ALLOCATION OF EDUCATIONAL ATTAINMENT FOR THE P...,"[B99151_001E, B99151_002E, B99151_003E]"

In [74]:
totalEducationData = acs.filter_variables('B15002')
totalEducationData

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B15002_014E,Estimate!!Total:!!Male:!!Associate's degree,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_014EA,B15002_014M,B15002_014MA",NaN
B15002_013E,"Estimate!!Total:!!Male:!!Some college, 1 or mo...",SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_013EA,B15002_013M,B15002_013MA",NaN
B15002_016E,Estimate!!Total:!!Male:!!Master's degree,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_016EA,B15002_016M,B15002_016MA",NaN
B15002_015E,Estimate!!Total:!!Male:!!Bachelor's degree,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_015EA,B15002_015M,B15002_015MA",NaN
B15002_018E,Estimate!!Total:!!Male:!!Doctorate degree,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_018EA,B15002_018M,B15002_018MA",NaN
B15002_017E,Estimate!!Total:!!Male:!!Professional school d...,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_017EA,B15002_017M,B15002_017MA",NaN
B15002_019E,Estimate!!Total:!!Female:,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_019EA,B15002_019M,B15002_019MA",NaN
B15002_010E,"Estimate!!Total:!!Male:!!12th grade, no diploma",SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_010EA,B15002_010M,B15002_010MA",NaN
B15002_012E,"Estimate!!Total:!!Male:!!Some college, less th...",SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_012EA,B15002_012M,B15002_012MA",NaN
B15002_011E,Estimate!!Total:!!Male:!!High school graduate ...,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_011EA,B15002_011M,B15002_011MA",NaN
B15002_002E,Estimate!!Total:!!Male:,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_002EA,B15002_002M,B15002_002MA",NaN
B15002_001E,Estimate!!Total:,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_001EA,B15002_001M,B15002_001MA",NaN
B15002_004E,Estimate!!Total:!!Male:!!Nursery to 4th grade,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_004EA,B15002_004M,B15002_004MA",NaN
B15002_003E,Estimate!!Total:!!Male:!!No schooling completed,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_003EA,B15002_003M,B15002_003MA",NaN
B15002_006E,Estimate!!Total:!!Male:!!7th and 8th grade,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_006EA,B15002_006M,B15002_006MA",NaN
B15002_005E,Estimate!!Total:!!Male:!!5th and 6th grade,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_005EA,B15002_005M,B15002_005MA",NaN
B15002_009E,Estimate!!Total:!!Male:!!11th grade,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_009EA,B15002_009M,B15002_009MA",NaN
B15002_008E,Estimate!!Total:!!Male:!!10th grade,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_008EA,B15002_008M,B15002_008MA",NaN
B15002_007E,Estimate!!Total:!!Male:!!9th grade,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_007EA,B15002_007M,B15002_007MA",NaN
B15002_030E,"Estimate!!Total:!!Female:!!Some college, 1 or ...",SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_030EA,B15002_030M,B15002_030MA",NaN
B15002_032E,Estimate!!Total:!!Female:!!Bachelor's degree,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_032EA,B15002_032M,B15002_032MA",NaN
B15002_031E,Estimate!!Total:!!Female:!!Associate's degree,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_031EA,B15002_031M,B15002_031MA",NaN
B15002_034E,Estimate!!Total:!!Female:!!Professional school...,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_034EA,B15002_034M,B15002_034MA",NaN
B15002_033E,Estimate!!Total:!!Female:!!Master's degree,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_033EA,B15002_033M,B15002_033MA",NaN
B15002_035E,Estimate!!Total:!!Female:!!Doctorate degree,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_035EA,B15002_035M,B15002_035MA",NaN
B15002_026E,Estimate!!Total:!!Female:!!11th grade,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_026EA,B15002_026M,B15002_026MA",NaN
B15002_025E,Estimate!!Total:!!Female:!!10th grade,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_025EA,B15002_025M,B15002_025MA",NaN
B15002_028E,Estimate!!Total:!!Female:!!High school graduat...,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_028EA,B15002_028M,B15002_028MA",NaN
B15002_027E,"Estimate!!Total:!!Female:!!12th grade, no diploma",SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_027EA,B15002_027M,B15002_027MA",NaN
B15002_029E,"Estimate!!Total:!!Female:!!Some college, less ...",SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_029EA,B15002_029M,B15002_029MA",NaN
B15002_020E,Estimate!!Total:!!Female:!!No schooling completed,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_020EA,B15002_020M,B15002_020MA",NaN
B15002_022E,Estimate!!Total:!!Female:!!5th and 6th grade,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_022EA,B15002_022M,B15002_022MA",NaN
B15002_021E,Estimate!!Total:!!Female:!!Nursery to 4th grade,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_021EA,B15002_021M,B15002_021MA",NaN
B15002_024E,Estimate!!Total:!!Female:!!9th grade,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_024EA,B15002_024M,B15002_024MA",NaN
B15002_023E,Estimate!!Total:!!Female:!!7th and 8th grade,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,int,B15002,0,NaN,NaN,"B15002_023EA,B15002_023M,B15002_023MA",NaN

In [70]:
# educationData = []

# the columns we are looking for
to_keep = ["Estimate!!Total:!!Male:", "Estimate!!Total:!!Male:!!Associate's degree", 
           "Estimate!!Total:!!Male:!!Some college, 1 or more years, no degree",
           "Estimate!!Total:!!Male:!!Master's degree",
           "Estimate!!Total:!!Male:!!Bachelor's degree",
           "Estimate!!Total:!!Male:!!Doctorate degree",
           "Estimate!!Total:!!Male:!!Professional school degree",
           "Estimate!!Total:!!Male:!!12th grade, no diploma",
           "Estimate!!Total:!!Male:!!High school graduate (includes equivalency)",
           "Estimate!!Total:!!Female:",
           "Estimate!!Total:!!Female:!!Associate's degree", 
           "Estimate!!Total:!!Female:!!Some college, 1 or more years, no degree",
           "Estimate!!Total:!!Female:!!Master's degree",
           "Estimate!!Total:!!Female:!!Bachelor's degree",
           "Estimate!!Total:!!Female:!!Doctorate degree",
           "Estimate!!Total:!!Female:!!Professional school degree",
           "Estimate!!Total:!!Female:!!12th grade, no diploma",
           "Estimate!!Total:!!Female:!!High school graduate (includes equivalency)"]

# renamed column names
rename = ["Total: Male:",
           "Total: Male: Associate's degree", 
           "Total: Male: Some college, 1 or more years, no degree",
           "Total: Male: Master's degree",
           "Total: Male: Bachelor's degree",
           "Total: Male: Doctorate degree",
           "Total: Male: Professional school degree",
           "Total: Male: 12th grade, no diploma",
           "Total: Male: High school graduate (includes equivalency)",
           "Total: Female:",
           "Total: Female: Associate's degree", 
           "Total: Female: Some college, 1 or more years, no degree",
           "Total: Female: Master's degree",
           "Total: Female: Bachelor's degree",
           "Total: Female: Doctorate degree",
           "Total: Female: Professional school degree",
           "Total: Female: 12th grade, no diploma",
           "Total: Female: High school graduate (includes equivalency)"]

# run in groups of 10 because of 'too many requests' error

for i in range(10, 63, 1):

    name = counties[i] + ", NY"
    currentDF = acs.from_county(name, variables = 'B15002')
    current = counties[i]
    
    # if first round through
    # create labels to rename the dataframes
    if i == 0:
        indexVals = totalEducationData.index
        labels = totalEducationData['label'].to_list()
        labelsDict = OrderedDict({})
        for key in indexVals:
            for value in labels:
                labelsDict[key] = value
                labels.remove(value)
                break

        labelsDict.update({"geometry": "geometry"})
        labelsDict.move_to_end("geometry", last = False)

        labelsDict.update({"GEOID": "GEOID"})
        labelsDict.move_to_end("GEOID", last = False)

        labelsDict.update({"state": "state"})
        labelsDict.update({"county": "county"})
        labelsDict.update({"tract": "tract"})
        labelsDict.update({"NAME": "NAME"})
    
    # rename the dataframe
    currentDF.columns = currentDF.columns.to_series().map(labelsDict)
    
    # drop the duplciate columns in the county dataframe
    currentDF = currentDF.loc[:, ~currentDF.columns.duplicated()].copy()
    
    # only keep the previously selected columns
    currentDF = currentDF[to_keep]
    
    # rename the columns 
    currentDF = currentDF.set_axis(rename, axis = 1)
    
    
    # get the sums for each category and put into a dictonary
    current_sums = currentDF.sum().to_dict()
    current_sums = OrderedDict(current_sums)

    current_sums.update({"County": current})
    current_sums.move_to_end("County", last = False)

    current_sums = dict(current_sums)

    # if first run through
    # get the headers for the final dataframe
    # append to the final dataframe
    if i == 0:
        headers = list(current_sums.keys())
        educationData.append(headers)
        
    # create inner_row to append
    # and append to final dataframe
    inner_row = list(current_sums.values())
    educationData.append(inner_row)
    

    # for periodic checking
    if ((i % 2) == 0):
        print(inner_row)
        
        
        
    # force code to take time
    # do this to avoid a 429 error
    # (too many requests error)
    time.sleep(5)

['Columbia', 22346.0, 2181.0, 2262.0, 2076.0, 3695.0, 390.0, 716.0, 374.0, 7255.0, 23228.0, 3124.0, 2586.0, 3074.0, 4146.0, 258.0, 534.0, 222.0, 6398.0]
['Delaware', 16278.0, 1848.0, 1677.0, 1043.0, 1979.0, 109.0, 145.0, 401.0, 6380.0, 16509.0, 2064.0, 1927.0, 1678.0, 2162.0, 132.0, 162.0, 197.0, 5939.0]
['Erie', 306207.0, 32590.0, 38779.0, 27185.0, 62120.0, 5653.0, 8728.0, 5452.0, 87502.0, 339774.0, 44140.0, 41734.0, 44805.0, 63278.0, 4239.0, 5923.0, 4750.0, 90700.0]
['Franklin', 18987.0, 1930.0, 2085.0, 792.0, 1797.0, 80.0, 296.0, 277.0, 8174.0, 16078.0, 2470.0, 1959.0, 1807.0, 1663.0, 107.0, 147.0, 231.0, 5040.0]
['Genesee', 20676.0, 2333.0, 2640.0, 1120.0, 2560.0, 190.0, 276.0, 364.0, 8135.0, 20658.0, 3696.0, 2339.0, 1812.0, 2947.0, 104.0, 201.0, 165.0, 6729.0]
['Hamilton', 1765.0, 194.0, 221.0, 122.0, 159.0, 13.0, 22.0, 136.0, 492.0, 1802.0, 192.0, 451.0, 101.0, 165.0, 8.0, 11.0, 89.0, 477.0]
['Jefferson', 36594.0, 3935.0, 5310.0, 1633.0, 4992.0, 187.0, 443.0, 565.0, 13555.0, 34946.0, 5019.0, 4279.0, 3473.0, 4574.0, 206.0, 397.0, 342.0, 11303.0]
['Lewis', 9188.0, 1014.0, 813.0, 429.0, 843.0, 35.0, 92.0, 156.0, 4425.0, 9172.0, 1205.0, 904.0, 793.0, 1081.0, 45.0, 64.0, 171.0, 3773.0]
['Madison', 23488.0, 2793.0, 2477.0, 1482.0, 3462.0, 344.0, 472.0, 387.0, 8916.0, 24479.0, 3720.0, 2963.0, 2512.0, 3730.0, 242.0, 327.0, 332.0, 7767.0]
['Montgomery', 16501.0, 1833.0, 2096.0, 692.0, 1597.0, 81.0, 226.0, 427.0, 6312.0, 17698.0, 2877.0, 2390.0, 1372.0, 1924.0, 60.0, 132.0, 271.0, 5794.0]
['New York', 587571.0, 19986.0, 44350.0, 102387.0, 186210.0, 23512.0, 49529.0, 10132.0, 75527.0, 661794.0, 27282.0, 49669.0, 127728.0, 209481.0, 22295.0, 44906.0, 10373.0, 79671.0]
['Oneida', 77885.0, 8441.0, 9703.0, 4673.0, 11500.0, 1175.0, 1633.0, 1369.0, 25517.0, 81059.0, 10981.0, 9428.0, 7892.0, 12621.0, 616.0, 811.0, 1206.0, 25116.0]
['Ontario', 37034.0, 4285.0, 4040.0, 4237.0, 7568.0, 711.0, 804.0, 561.0, 10278.0, 40138.0, 6084.0, 4361.0, 5842.0, 7621.0, 498.0, 743.0, 440.0, 10117.0]
['Orleans', 14417.0, 1320.0, 2015.0, 599.0, 1311.0, 77.0, 54.0, 296.0, 5985.0, 15082.0, 2226.0, 2134.0, 921.0, 1710.0, 45.0, 59.0, 142.0, 5315.0]
['Otsego', 19235.0, 1966.0, 2432.0, 1363.0, 3165.0, 562.0, 511.0, 394.0, 6356.0, 20704.0, 2837.0, 2264.0, 2631.0, 3570.0, 235.0, 365.0, 237.0, 6138.0]
['Queens', 783145.0, 58871.0, 87922.0, 60273.0, 159397.0, 8615.0, 17039.0, 23904.0, 222081.0, 862251.0, 69124.0, 90325.0, 87366.0, 173792.0, 7460.0, 15318.0, 24788.0, 231090.0]
['Richmond', 156343.0, 11254.0, 19889.0, 11910.0, 33270.0, 1588.0, 4123.0, 3887.0, 47388.0, 174318.0, 13042.0, 18735.0, 22797.0, 33362.0, 1419.0, 3507.0, 4071.0, 53064.0]
['Saratoga', 79549.0, 8930.0, 8467.0, 8891.0, 19737.0, 2169.0, 1827.0, 999.0, 19559.0, 83461.0, 10422.0, 8009.0, 13328.0, 18659.0, 1247.0, 1598.0, 868.0, 20972.0]
['Schoharie', 11031.0, 1165.0, 1333.0, 584.0, 1378.0, 126.0, 166.0, 155.0, 4223.0, 11278.0, 1643.0, 1191.0, 1050.0, 1561.0, 45.0, 95.0, 212.0, 3747.0]
['Seneca', 12831.0, 1200.0, 1095.0, 659.0, 1278.0, 111.0, 121.0, 300.0, 5115.0, 11879.0, 1811.0, 1396.0, 1178.0, 1625.0, 120.0, 115.0, 140.0, 3587.0]
['Steuben', 33519.0, 4154.0, 3130.0, 2344.0, 3996.0, 692.0, 403.0, 507.0, 13313.0, 34567.0, 5012.0, 3643.0, 3752.0, 4276.0, 253.0, 383.0, 553.0, 11699.0]
['Sullivan', 27091.0, 2305.0, 3609.0, 1654.0, 3312.0, 194.0, 540.0, 495.0, 9996.0, 25995.0, 3175.0, 3354.0, 3050.0, 3903.0, 170.0, 329.0, 363.0, 7949.0]
['Tompkins', 28601.0, 2175.0, 2454.0, 4314.0, 6668.0, 3476.0, 899.0, 442.0, 5416.0, 31173.0, 3478.0, 2224.0, 6541.0, 6895.0, 2221.0, 976.0, 200.0, 5931.0]
['Ulster', 64113.0, 6617.0, 7822.0, 5330.0, 10827.0, 1096.0, 1618.0, 1190.0, 20475.0, 66077.0, 7377.0, 7759.0, 9404.0, 11791.0, 1003.0, 1178.0, 664.0, 18235.0]
['Washington', 22914.0, 1956.0, 2221.0, 1131.0, 2426.0, 134.0, 292.0, 342.0, 9746.0, 22078.0, 3062.0, 2666.0, 2058.0, 2855.0, 138.0, 201.0, 237.0, 7683.0]
['Westchester', 315674.0, 18899.0, 32071.0, 44240.0, 75042.0, 8179.0, 22392.0, 7350.0, 61529.0, 352616.0, 23798.0, 33727.0, 68238.0, 86954.0, 6546.0, 15342.0, 7167.0, 66963.0]
['Yates', 8038.0, 848.0, 777.0, 440.0, 1122.0, 129.0, 88.0, 85.0, 2998.0, 8635.0, 1088.0, 920.0, 1004.0, 1247.0, 114.0, 57.0, 81.0, 2445.0]

In [71]:
# make into dataframe
educationDF = pd.DataFrame(educationData)

# add header
new_header = educationDF.iloc[0] 
educationDF = educationDF[1:] 
educationDF.columns = new_header 

# view
educationDF

,County,Total: Male:,Total: Male: Associate's degree,"Total: Male: Some college, 1 or more years, no degree",Total: Male: Master's degree,Total: Male: Bachelor's degree,Total: Male: Doctorate degree,Total: Male: Professional school degree,"Total: Male: 12th grade, no diploma",Total: Male: High school graduate (includes equivalency),Total: Female:,Total: Female: Associate's degree,"Total: Female: Some college, 1 or more years, no degree",Total: Female: Master's degree,Total: Female: Bachelor's degree,Total: Female: Doctorate degree,Total: Female: Professional school degree,"Total: Female: 12th grade, no diploma",Total: Female: High school graduate (includes equivalency)
1,Albany,97391.0,10565.0,10655.0,11689.0,22150.0,3099.0,4166.0,1670.0,22090.0,107527.0,13526.0,10639.0,17281.0,21745.0,2422.0,3150.0,1303.0,24952.0
2,Allegany,14874.0,1908.0,1755.0,968.0,1448.0,275.0,115.0,187.0,5813.0,15164.0,2278.0,1982.0,1500.0,1741.0,125.0,96.0,187.0,5199.0
3,Bronx,419713.0,27221.0,54467.0,17658.0,49966.0,3124.0,4679.0,15514.0,129378.0,509833.0,41247.0,67166.0,32755.0,70055.0,3097.0,5216.0,18139.0,130194.0
4,Broome,61426.0,7241.0,7175.0,5135.0,10237.0,1054.0,1410.0,1153.0,19412.0,66638.0,9380.0,7349.0,7291.0,9544.0,845.0,829.0,964.0,20890.0
5,Cattaraugus,25857.0,2800.0,2824.0,1357.0,2600.0,242.0,207.0,560.0,10919.0,26992.0,4077.0,3013.0,2552.0,2828.0,87.0,208.0,520.0,9796.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Washington,22914.0,1956.0,2221.0,1131.0,2426.0,134.0,292.0,342.0,9746.0,22078.0,3062.0,2666.0,2058.0,2855.0,138.0,201.0,237.0,7683.0
60,Wayne,31367.0,3304.0,3930.0,1807.0,4097.0,213.0,272.0,771.0,11781.0,32547.0,5482.0,3945.0,3262.0,4264.0,193.0,359.0,474.0,9750.0
61,Westchester,315674.0,18899.0,32071.0,44240.0,75042.0,8179.0,22392.0,7350.0,61529.0,352616.0,23798.0,33727.0,68238.0,86954.0,6546.0,15342.0,7167.0,66963.0
62,Wyoming,15680.0,1721.0,1763.0,615.0,1551.0,49.0,46.0,317.0,6913.0,13353.0,2339.0,1574.0,1035.0,1672.0,17.0,146.0,164.0,4701.0
63,Yates,8038.0,848.0,777.0,440.0,1122.0,129.0,88.0,85.0,2998.0,8635.0,1088.0,920.0,1004.0,1247.0,114.0,57.0,81.0,2445.0

In [72]:
# write to csv
# write to sex data to csv
# as backup
educationDF.to_csv("NY_educationData.csv")

In [73]:
# check csv saved correctly
# read data in from csv
# this is so you don't have to run through the previous for loop (saves time)

educationDF = pd.read_csv('NY_educationData.csv')
educationDF = educationDF.drop(['Unnamed: 0'], axis = 1)
educationDF

,County,Total: Male:,Total: Male: Associate's degree,"Total: Male: Some college, 1 or more years, no degree",Total: Male: Master's degree,Total: Male: Bachelor's degree,Total: Male: Doctorate degree,Total: Male: Professional school degree,"Total: Male: 12th grade, no diploma",Total: Male: High school graduate (includes equivalency),Total: Female:,Total: Female: Associate's degree,"Total: Female: Some college, 1 or more years, no degree",Total: Female: Master's degree,Total: Female: Bachelor's degree,Total: Female: Doctorate degree,Total: Female: Professional school degree,"Total: Female: 12th grade, no diploma",Total: Female: High school graduate (includes equivalency)
0,Albany,97391.0,10565.0,10655.0,11689.0,22150.0,3099.0,4166.0,1670.0,22090.0,107527.0,13526.0,10639.0,17281.0,21745.0,2422.0,3150.0,1303.0,24952.0
1,Allegany,14874.0,1908.0,1755.0,968.0,1448.0,275.0,115.0,187.0,5813.0,15164.0,2278.0,1982.0,1500.0,1741.0,125.0,96.0,187.0,5199.0
2,Bronx,419713.0,27221.0,54467.0,17658.0,49966.0,3124.0,4679.0,15514.0,129378.0,509833.0,41247.0,67166.0,32755.0,70055.0,3097.0,5216.0,18139.0,130194.0
3,Broome,61426.0,7241.0,7175.0,5135.0,10237.0,1054.0,1410.0,1153.0,19412.0,66638.0,9380.0,7349.0,7291.0,9544.0,845.0,829.0,964.0,20890.0
4,Cattaraugus,25857.0,2800.0,2824.0,1357.0,2600.0,242.0,207.0,560.0,10919.0,26992.0,4077.0,3013.0,2552.0,2828.0,87.0,208.0,520.0,9796.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Washington,22914.0,1956.0,2221.0,1131.0,2426.0,134.0,292.0,342.0,9746.0,22078.0,3062.0,2666.0,2058.0,2855.0,138.0,201.0,237.0,7683.0
59,Wayne,31367.0,3304.0,3930.0,1807.0,4097.0,213.0,272.0,771.0,11781.0,32547.0,5482.0,3945.0,3262.0,4264.0,193.0,359.0,474.0,9750.0
60,Westchester,315674.0,18899.0,32071.0,44240.0,75042.0,8179.0,22392.0,7350.0,61529.0,352616.0,23798.0,33727.0,68238.0,86954.0,6546.0,15342.0,7167.0,66963.0
61,Wyoming,15680.0,1721.0,1763.0,615.0,1551.0,49.0,46.0,317.0,6913.0,13353.0,2339.0,1574.0,1035.0,1672.0,17.0,146.0,164.0,4701.0
62,Yates,8038.0,848.0,777.0,440.0,1122.0,129.0,88.0,85.0,2998.0,8635.0,1088.0,920.0,1004.0,1247.0,114.0,57.0,81.0,2445.0

## Create Dataframe on Health Insurance

In [76]:
acs.filter_tables('HEALTH INSURANCE', by = 'description')

,description,columns
table_name,,
B18135,AGE BY DISABILITY STATUS BY HEALTH INSURANCE C...,"[B18135_001E, B18135_002E, B18135_003E, B18135..."
B27001,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,"[B27001_001E, B27001_002E, B27001_003E, B27001..."
B27002,PRIVATE HEALTH INSURANCE STATUS BY SEX BY AGE,"[B27002_001E, B27002_002E, B27002_003E, B27002..."
B27003,PUBLIC HEALTH INSURANCE STATUS BY SEX BY AGE,"[B27003_001E, B27003_002E, B27003_003E, B27003..."
B27010,TYPES OF HEALTH INSURANCE COVERAGE BY AGE,"[B27010_001E, B27010_002E, B27010_003E, B27010..."
B27011,HEALTH INSURANCE COVERAGE STATUS AND TYPE BY E...,"[B27011_001E, B27011_002E, B27011_003E, B27011..."
B27015,HEALTH INSURANCE COVERAGE STATUS AND TYPE BY H...,"[B27015_001E, B27015_002E, B27015_003E, B27015..."
B27019,HEALTH INSURANCE COVERAGE STATUS AND TYPE BY A...,"[B27019_001E, B27019_002E, B27019_003E, B27019..."
B27020,HEALTH INSURANCE COVERAGE STATUS AND TYPE BY C...,"[B27020_001E, B27020_002E, B27020_003E, B27020..."
B27022,HEALTH INSURANCE COVERAGE STATUS BY SEX BY ENR...,"[B27022_001E, B27022_002E, B27022_003E, B27022..."
B27023,PRIVATE HEALTH INSURANCE BY SEX BY ENROLLMENT ...,"[B27023_001E, B27023_002E, B27023_003E, B27023..."
B992701,ALLOCATION OF HEALTH INSURANCE COVERAGE,"[B992701_001E, B992701_002E, B992701_003E]"
B992702,ALLOCATION OF PRIVATE HEALTH INSURANCE,"[B992702_001E, B992702_002E, B992702_003E]"
B992703,ALLOCATION OF PUBLIC HEALTH INSURANCE,"[B992703_001E, B992703_002E, B992703_003E]"
B992704,ALLOCATION OF EMPLOYER-BASED HEALTH INSURANCE,"[B992704_001E, B992704_002E, B992704_003E]"
B992705,ALLOCATION OF DIRECT-PURCHASE HEALTH INSURANCE,"[B992705_001E, B992705_002E, B992705_003E]"
C27004,EMPLOYER-BASED HEALTH INSURANCE BY SEX BY AGE,"[C27004_001E, C27004_002E, C27004_003E, C27004..."
C27005,DIRECT-PURCHASE HEALTH INSURANCE BY SEX BY AGE,"[C27005_001E, C27005_002E, C27005_003E, C27005..."
C27012,HEALTH INSURANCE COVERAGE STATUS AND TYPE BY W...,"[C27012_001E, C27012_002E, C27012_003E, C27012..."
C27013,PRIVATE HEALTH INSURANCE BY WORK EXPERIENCE,"[C27013_001E, C27013_002E, C27013_003E, C27013..."
C27014,PUBLIC HEALTH INSURANCE BY WORK EXPERIENCE,"[C27014_001E, C27014_002E, C27014_003E, C27014..."
C27016,HEALTH INSURANCE COVERAGE STATUS BY RATIO OF I...,"[C27016_001E, C27016_002E, C27016_003E, C27016..."
C27017,PRIVATE HEALTH INSURANCE BY RATIO OF INCOME TO...,"[C27017_001E, C27017_002E, C27017_003E, C27017..."
C27018,PUBLIC HEALTH INSURANCE BY RATIO OF INCOME TO ...,"[C27018_001E, C27018_002E, C27018_003E, C27018..."
C27021,HEALTH INSURANCE COVERAGE STATUS BY LIVING AR...,"[C27021_001E, C27021_002E, C27021_003E, C27021..."

In [80]:
totalHealthData = acs.filter_variables('B27001')
totalHealthData

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B27001_031E,Estimate!!Total:!!Female:!!Under 6 years:,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_031EA,B27001_031M,B27001_031MA",NaN
B27001_032E,Estimate!!Total:!!Female:!!Under 6 years:!!Wit...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_032EA,B27001_032M,B27001_032MA",NaN
B27001_030E,Estimate!!Total:!!Female:,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_030EA,B27001_030M,B27001_030MA",NaN
B27001_023E,Estimate!!Total:!!Male:!!55 to 64 years:!!No h...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_023EA,B27001_023M,B27001_023MA",NaN
B27001_024E,Estimate!!Total:!!Male:!!65 to 74 years:,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_024EA,B27001_024M,B27001_024MA",NaN
B27001_021E,Estimate!!Total:!!Male:!!55 to 64 years:,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_021EA,B27001_021M,B27001_021MA",NaN
B27001_022E,Estimate!!Total:!!Male:!!55 to 64 years:!!With...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_022EA,B27001_022M,B27001_022MA",NaN
B27001_027E,Estimate!!Total:!!Male:!!75 years and over:,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_027EA,B27001_027M,B27001_027MA",NaN
B27001_028E,Estimate!!Total:!!Male:!!75 years and over:!!W...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_028EA,B27001_028M,B27001_028MA",NaN
B27001_025E,Estimate!!Total:!!Male:!!65 to 74 years:!!With...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_025EA,B27001_025M,B27001_025MA",NaN
B27001_026E,Estimate!!Total:!!Male:!!65 to 74 years:!!No h...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_026EA,B27001_026M,B27001_026MA",NaN
B27001_029E,Estimate!!Total:!!Male:!!75 years and over:!!N...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_029EA,B27001_029M,B27001_029MA",NaN
B27001_040E,Estimate!!Total:!!Female:!!26 to 34 years:,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_040EA,B27001_040M,B27001_040MA",NaN
B27001_043E,Estimate!!Total:!!Female:!!35 to 44 years:,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_043EA,B27001_043M,B27001_043MA",NaN
B27001_044E,Estimate!!Total:!!Female:!!35 to 44 years:!!Wi...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_044EA,B27001_044M,B27001_044MA",NaN
B27001_041E,Estimate!!Total:!!Female:!!26 to 34 years:!!Wi...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_041EA,B27001_041M,B27001_041MA",NaN
B27001_042E,Estimate!!Total:!!Female:!!26 to 34 years:!!No...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_042EA,B27001_042M,B27001_042MA",NaN
B27001_035E,Estimate!!Total:!!Female:!!6 to 18 years:!!Wit...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_035EA,B27001_035M,B27001_035MA",NaN
B27001_036E,Estimate!!Total:!!Female:!!6 to 18 years:!!No ...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_036EA,B27001_036M,B27001_036MA",NaN
B27001_033E,Estimate!!Total:!!Female:!!Under 6 years:!!No ...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_033EA,B27001_033M,B27001_033MA",NaN
B27001_034E,Estimate!!Total:!!Female:!!6 to 18 years:,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_034EA,B27001_034M,B27001_034MA",NaN
B27001_039E,Estimate!!Total:!!Female:!!19 to 25 years:!!No...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_039EA,B27001_039M,B27001_039MA",NaN
B27001_037E,Estimate!!Total:!!Female:!!19 to 25 years:,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_037EA,B27001_037M,B27001_037MA",NaN
B27001_038E,Estimate!!Total:!!Female:!!19 to 25 years:!!Wi...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_038EA,B27001_038M,B27001_038MA",NaN
B27001_051E,Estimate!!Total:!!Female:!!55 to 64 years:!!No...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_051EA,B27001_051M,B27001_051MA",NaN
B27001_052E,Estimate!!Total:!!Female:!!65 to 74 years:,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_052EA,B27001_052M,B27001_052MA",NaN
B27001_050E,Estimate!!Total:!!Female:!!55 to 64 years:!!Wi...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_050EA,B27001_050M,B27001_050MA",NaN
B27001_055E,Estimate!!Total:!!Female:!!75 years and over:,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_055EA,B27001_055M,B27001_055MA",NaN
B27001_056E,Estimate!!Total:!!Female:!!75 years and over:!...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_056EA,B27001_056M,B27001_056MA",NaN
B27001_053E,Estimate!!Total:!!Female:!!65 to 74 years:!!Wi...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_053EA,B27001_053M,B27001_053MA",NaN
B27001_054E,Estimate!!Total:!!Female:!!65 to 74 years:!!No...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_054EA,B27001_054M,B27001_054MA",NaN
B27001_047E,Estimate!!Total:!!Female:!!45 to 54 years:!!Wi...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_047EA,B27001_047M,B27001_047MA",NaN
B27001_048E,Estimate!!Total:!!Female:!!45 to 54 years:!!No...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_048EA,B27001_048M,B27001_048MA",NaN
B27001_045E,Estimate!!Total:!!Female:!!35 to 44 years:!!No...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_045EA,B27001_045M,B27001_045MA",NaN
B27001_046E,Estimate!!Total:!!Female:!!45 to 54 years:,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_046EA,B27001_046M,B27001_046MA",NaN
B27001_049E,Estimate!!Total:!!Female:!!55 to 64 years:,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_049EA,B27001_049M,B27001_049MA",NaN
B27001_057E,Estimate!!Total:!!Female:!!75 years and over:!...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_057EA,B27001_057M,B27001_057MA",NaN
B27001_003E,Estimate!!Total:!!Male:!!Under 6 years:,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_003EA,B27001_003M,B27001_003MA",NaN
B27001_004E,Estimate!!Total:!!Male:!!Under 6 years:!!With ...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_004EA,B27001_004M,B27001_004MA",NaN
B27001_001E,Estimate!!Total:,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_001EA,B27001_001M,B27001_001MA",NaN
B27001_002E,Estimate!!Total:!!Male:,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_002EA,B27001_002M,B27001_002MA",NaN
B27001_007E,Estimate!!Total:!!Male:!!6 to 18 years:!!With ...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_007EA,B27001_007M,B27001_007MA",NaN
B27001_008E,Estimate!!Total:!!Male:!!6 to 18 years:!!No he...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_008EA,B27001_008M,B27001_008MA",NaN
B27001_005E,Estimate!!Total:!!Male:!!Under 6 years:!!No he...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_005EA,B27001_005M,B27001_005MA",NaN
B27001_006E,Estimate!!Total:!!Male:!!6 to 18 years:,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_006EA,B27001_006M,B27001_006MA",NaN
B27001_009E,Estimate!!Total:!!Male:!!19 to 25 years:,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_009EA,B27001_009M,B27001_009MA",NaN
B27001_020E,Estimate!!Total:!!Male:!!45 to 54 years:!!No h...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_020EA,B27001_020M,B27001_020MA",NaN
B27001_011E,Estimate!!Total:!!Male:!!19 to 25 years:!!No h...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_011EA,B27001_011M,B27001_011MA",NaN
B27001_012E,Estimate!!Total:!!Male:!!26 to 34 years:,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_012EA,B27001_012M,B27001_012MA",NaN
B27001_010E,Estimate!!Total:!!Male:!!19 to 25 years:!!With...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_010EA,B27001_010M,B27001_010MA",NaN
B27001_015E,Estimate!!Total:!!Male:!!35 to 44 years:,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_015EA,B27001_015M,B27001_015MA",NaN
B27001_016E,Estimate!!Total:!!Male:!!35 to 44 years:!!With...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_016EA,B27001_016M,B27001_016MA",NaN
B27001_013E,Estimate!!Total:!!Male:!!26 to 34 years:!!With...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_013EA,B27001_013M,B27001_013MA",NaN
B27001_014E,Estimate!!Total:!!Male:!!26 to 34 years:!!No h...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_014EA,B27001_014M,B27001_014MA",NaN
B27001_019E,Estimate!!Total:!!Male:!!45 to 54 years:!!With...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_019EA,B27001_019M,B27001_019MA",NaN
B27001_017E,Estimate!!Total:!!Male:!!35 to 44 years:!!No h...,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_017EA,B27001_017M,B27001_017MA",NaN
B27001_018E,Estimate!!Total:!!Male:!!45 to 54 years:,HEALTH INSURANCE COVERAGE STATUS BY SEX BY AGE,int,B27001,0,NaN,NaN,"B27001_018EA,B27001_018M,B27001_018MA",NaN

In [103]:
healthData = []

# the columns we need to drop
to_drop = ['GEOID', 'geometry',
           'Estimate!!Total:!!Female:!!Under 6 years:',
           'Estimate!!Total:!!Female:!!Under 6 years:!!With health insurance coverage',
           'Estimate!!Total:!!Female:!!6 to 18 years:!!With health insurance coverage',
           'Estimate!!Total:!!Female:!!6 to 18 years:!!No health insurance coverage',
           'Estimate!!Total:!!Female:!!Under 6 years:!!No health insurance coverage',
           'Estimate!!Total:!!Male:!!Under 6 years:',
           'Estimate!!Total:!!Male:!!Under 6 years:!!With health insurance coverage',
           'Estimate!!Total:!!Male:!!6 to 18 years:!!With health insurance coverage',
           'Estimate!!Total:!!Male:!!6 to 18 years:!!No health insurance coverage',
           'Estimate!!Total:!!Male:!!Under 6 years:!!No health insurance coverage',
           'Estimate!!Total:!!Female:!!6 to 18 years:',
           'Estimate!!Total:!!Male:!!6 to 18 years:',
           'state', 'county', 'tract', "NAME"]


# renamed column names
rename = ['Total:',
          'Total: Male:',
          'Total: Male: 19 to 25 years:',
          'Total: Male: 19 to 25 years: With health insurance coverage',
          'Total: Male: 19 to 25 years: No health insurance coverage',
          'Total: Male: 26 to 34 years:',
          'Total: Male: 26 to 34 years: With health insurance coverage',
          'Total: Male: 26 to 34 years: No health insurance coverage',
          'Total: Male: 35 to 44 years:',
          'Total: Male: 35 to 44 years: With health insurance coverage',
          'Total: Male: 35 to 44 years: No health insurance coverage',
          'Total: Male: 45 to 54 years:',
          'Total: Male: 45 to 54 years: With health insurance coverage',
          'Total: Male: 45 to 54 years: No health insurance coverage',
          'Total: Male: 55 to 64 years:',
          'Total: Male: 55 to 64 years: With health insurance coverage',
          'Total: Male: 55 to 64 years: No health insurance coverage',
          'Total: Male: 65 to 74 years:',
          'Total: Male: 65 to 74 years: With health insurance coverage',
          'Total: Male: 65 to 74 years: No health insurance coverage',
          'Total: Male: 75 years and over:',
          'Total: Male: 75 years and over: With health insurance coverage',
          'Total: Male: 75 years and over: No health insurance coverage',
          'Total: Female:',
          'Total: Female: 19 to 25 years:',
          'Total: Female: 19 to 25 years: With health insurance coverage',
          'Total: Female: 19 to 25 years: No health insurance coverage',
          'Total: Female: 26 to 34 years:',
          'Total: Female: 26 to 34 years: With health insurance coverage',
          'Total: Female: 26 to 34 years: No health insurance coverage',
          'Total: Female: 35 to 44 years:',
          'Total: Female: 35 to 44 years: With health insurance coverage',
          'Total: Female: 35 to 44 years: No health insurance coverage',
          'Total: Female: 45 to 54 years:',
          'Total: Female: 45 to 54 years: With health insurance coverage',
          'Total: Female: 45 to 54 years: No health insurance coverage',
          'Total: Female: 55 to 64 years:',
          'Total: Female: 55 to 64 years: With health insurance coverage',
          'Total: Female: 55 to 64 years: No health insurance coverage',
          'Total: Female: 65 to 74 years:',
          'Total: Female: 65 to 74 years: With health insurance coverage',
          'Total: Female: 65 to 74 years: No health insurance coverage',
          'Total: Female: 75 years and over:',
          'Total: Female: 75 years and over: With health insurance coverage',
          'Total: Female: 75 years and over: No health insurance coverage']

# run in groups of 10 because of 'too many requests' error

for i in range(len(counties)):

    name = counties[i] + ", NY"
    currentDF = acs.from_county(name, variables = 'B27001')
    current = counties[i]
    
    # if first round through
    # create labels to rename the dataframes
    if i == 0:
        indexVals = totalHealthData.index
        labels = totalHealthData['label'].to_list()
        labelsDict = OrderedDict({})
        for key in indexVals:
            for value in labels:
                labelsDict[key] = value
                labels.remove(value)
                break

        labelsDict.update({"geometry": "geometry"})
        labelsDict.move_to_end("geometry", last = False)

        labelsDict.update({"GEOID": "GEOID"})
        labelsDict.move_to_end("GEOID", last = False)

        labelsDict.update({"state": "state"})
        labelsDict.update({"county": "county"})
        labelsDict.update({"tract": "tract"})
        labelsDict.update({"NAME": "NAME"})
        
    
    # rename the dataframe
    currentDF.columns = currentDF.columns.to_series().map(labelsDict)
    
    # drop select columns
    currentDF = currentDF.drop(to_drop, axis = 1)

    # drop the duplciate columns in the county dataframe
    currentDF = currentDF.loc[:, ~currentDF.columns.duplicated()].copy()
    
    # rename the columns 
    currentDF = currentDF.set_axis(rename, axis = 1)
    
    
    
    # get the sums for each category and put into a dictonary
    current_sums = currentDF.sum().to_dict()
    current_sums = OrderedDict(current_sums)

    current_sums.update({"County": current})
    current_sums.move_to_end("County", last = False)

    current_sums = dict(current_sums)

    # if first run through
    # get the headers for the final dataframe
    # append to the final dataframe
    if i == 0:
        headers = list(current_sums.keys())
        healthData.append(headers)
        
    # create inner_row to append
    # and append to final dataframe
    inner_row = list(current_sums.values())
    healthData.append(inner_row)
    

    # for periodic checking
    if ((i % 2) == 0):
        print(inner_row)
        
        
        
    # force code to take time
    # do this to avoid a 429 error
    # (too many requests error)
    time.sleep(5)

['Albany', 303159.0, 146903.0, 20660.0, 19528.0, 1132.0, 17899.0, 16040.0, 1859.0, 17006.0, 15983.0, 1023.0, 18696.0, 17828.0, 868.0, 19453.0, 18883.0, 570.0, 13162.0, 13110.0, 52.0, 7795.0, 7774.0, 21.0, 156256.0, 22162.0, 21451.0, 711.0, 17547.0, 16583.0, 964.0, 17741.0, 17173.0, 568.0, 19608.0, 19072.0, 536.0, 20960.0, 20615.0, 345.0, 15284.0, 15238.0, 46.0, 12072.0, 12049.0, 23.0]
['Bronx', 1414023.0, 663121.0, 76306.0, 64971.0, 11335.0, 95653.0, 73078.0, 22575.0, 81736.0, 65861.0, 15875.0, 82036.0, 71229.0, 10807.0, 69513.0, 63507.0, 6006.0, 40844.0, 39612.0, 1232.0, 25928.0, 25738.0, 190.0, 750902.0, 75738.0, 69176.0, 6562.0, 105289.0, 92554.0, 12735.0, 97223.0, 87290.0, 9933.0, 97957.0, 89155.0, 8802.0, 86057.0, 81273.0, 4784.0, 56457.0, 55422.0, 1035.0, 47046.0, 46424.0, 622.0]
['Cattaraugus', 76342.0, 37893.0, 3355.0, 2783.0, 572.0, 3815.0, 3288.0, 527.0, 4091.0, 3700.0, 391.0, 5028.0, 4678.0, 350.0, 5774.0, 5449.0, 325.0, 4002.0, 3978.0, 24.0, 2473.0, 2462.0, 11.0, 38449.0, 3296.0, 2956.0, 340.0, 3782.0, 3284.0, 498.0, 4126.0, 3946.0, 180.0, 5046.0, 4770.0, 276.0, 5799.0, 5574.0, 225.0, 4183.0, 4166.0, 17.0, 3350.0, 3334.0, 16.0]
['Chautauqua', 126145.0, 61886.0, 5987.0, 5268.0, 719.0, 6378.0, 5528.0, 850.0, 6513.0, 6140.0, 373.0, 8135.0, 7539.0, 596.0, 9577.0, 9117.0, 460.0, 6604.0, 6591.0, 13.0, 4350.0, 4350.0, 0.0, 64259.0, 5745.0, 5284.0, 461.0, 6624.0, 6104.0, 520.0, 6777.0, 6446.0, 331.0, 8203.0, 7820.0, 383.0, 9752.0, 9454.0, 298.0, 7232.0, 7215.0, 17.0, 6064.0, 6060.0, 4.0]
['Chenango', 47305.0, 23705.0, 1741.0, 1544.0, 197.0, 2432.0, 2242.0, 190.0, 2626.0, 2385.0, 241.0, 3279.0, 3110.0, 169.0, 3771.0, 3630.0, 141.0, 2813.0, 2789.0, 24.0, 1714.0, 1714.0, 0.0, 23600.0, 1855.0, 1732.0, 123.0, 2204.0, 2113.0, 91.0, 2524.0, 2372.0, 152.0, 3349.0, 3220.0, 129.0, 3699.0, 3606.0, 93.0, 2785.0, 2777.0, 8.0, 2090.0, 2087.0, 3.0]
['Columbia', 58739.0, 28952.0, 2295.0, 2114.0, 181.0, 2683.0, 2359.0, 324.0, 3076.0, 2812.0, 264.0, 4283.0, 3997.0, 286.0, 4883.0, 4731.0, 152.0, 3837.0, 3818.0, 19.0, 2411.0, 2411.0, 0.0, 29787.0, 1891.0, 1783.0, 108.0, 3057.0, 2695.0, 362.0, 3221.0, 2896.0, 325.0, 4275.0, 4133.0, 142.0, 4978.0, 4813.0, 165.0, 4045.0, 4033.0, 12.0, 3037.0, 3037.0, 0.0]
['Delaware', 44562.0, 22449.0, 2380.0, 2143.0, 237.0, 1921.0, 1581.0, 340.0, 2080.0, 1878.0, 202.0, 2910.0, 2705.0, 205.0, 3756.0, 3517.0, 239.0, 3129.0, 3111.0, 18.0, 1959.0, 1959.0, 0.0, 22113.0, 1992.0, 1914.0, 78.0, 1873.0, 1690.0, 183.0, 2114.0, 1983.0, 131.0, 2969.0, 2755.0, 214.0, 3694.0, 3524.0, 170.0, 3072.0, 3069.0, 3.0, 2374.0, 2374.0, 0.0]
['Erie', 907930.0, 437475.0, 42715.0, 40319.0, 2396.0, 57446.0, 51769.0, 5677.0, 49041.0, 46173.0, 2868.0, 57090.0, 53940.0, 3150.0, 62112.0, 60056.0, 2056.0, 41055.0, 40976.0, 79.0, 26248.0, 26204.0, 44.0, 470455.0, 43161.0, 41415.0, 1746.0, 57748.0, 55210.0, 2538.0, 51617.0, 50051.0, 1566.0, 61714.0, 59990.0, 1724.0, 68709.0, 66971.0, 1738.0, 47831.0, 47703.0, 128.0, 41725.0, 41652.0, 73.0]
['Franklin', 45835.0, 23034.0, 2370.0, 2198.0, 172.0, 2567.0, 2234.0, 333.0, 2387.0, 2186.0, 201.0, 2973.0, 2696.0, 277.0, 3419.0, 3277.0, 142.0, 2539.0, 2539.0, 0.0, 1324.0, 1321.0, 3.0, 22801.0, 2055.0, 1948.0, 107.0, 2143.0, 1997.0, 146.0, 2629.0, 2524.0, 105.0, 3152.0, 2999.0, 153.0, 3410.0, 3283.0, 127.0, 2410.0, 2402.0, 8.0, 1908.0, 1908.0, 0.0]
['Genesee', 57314.0, 28581.0, 2504.0, 2298.0, 206.0, 3555.0, 3195.0, 360.0, 3205.0, 3065.0, 140.0, 4046.0, 3826.0, 220.0, 4490.0, 4317.0, 173.0, 2791.0, 2791.0, 0.0, 1741.0, 1741.0, 0.0, 28733.0, 2412.0, 2291.0, 121.0, 2949.0, 2835.0, 114.0, 3059.0, 2930.0, 129.0, 4101.0, 3938.0, 163.0, 4376.0, 4211.0, 165.0, 2966.0, 2966.0, 0.0, 2736.0, 2736.0, 0.0]
['Hamilton', 4493.0, 2242.0, 156.0, 144.0, 12.0, 104.0, 60.0, 44.0, 193.0, 148.0, 45.0, 296.0, 207.0, 89.0, 457.0, 426.0, 31.0, 427.0, 427.0, 0.0, 252.0, 250.0, 2.0, 2251.0, 136.0, 135.0, 1.0, 144.0, 144.0, 0.0, 189.0, 159.0, 30.0, 294.0, 278.0, 16.0, 461.0, 455.0, 6.0, 414.0, 414.0, 0.0, 271.0, 271.0, 0.0]
['Jefferson', 100713.0, 48503.0, 4742.0, 4135.0, 607.0, 5829.0, 5193.0, 636.0, 5644.0, 5009.0, 635.0, 5699.0, 5242.0, 457.0, 5747.0, 5534.0, 213.0, 4175.0, 4170.0, 5.0, 2409.0, 2409.0, 0.0, 52210.0, 4892.0, 4633.0, 259.0, 7102.0, 6641.0, 461.0, 5982.0, 5719.0, 263.0, 6068.0, 5788.0, 280.0, 6276.0, 5976.0, 300.0, 4483.0, 4483.0, 0.0, 3477.0, 3477.0, 0.0]
['Lewis', 26263.0, 13117.0, 1050.0, 950.0, 100.0, 1312.0, 1142.0, 170.0, 1411.0, 1293.0, 118.0, 1785.0, 1642.0, 143.0, 2082.0, 1948.0, 134.0, 1322.0, 1315.0, 7.0, 897.0, 897.0, 0.0, 13146.0, 1059.0, 997.0, 62.0, 1283.0, 1173.0, 110.0, 1456.0, 1417.0, 39.0, 1696.0, 1556.0, 140.0, 2044.0, 1943.0, 101.0, 1320.0, 1315.0, 5.0, 1088.0, 1088.0, 0.0]
['Madison', 70712.0, 34936.0, 3979.0, 3563.0, 416.0, 3452.0, 3059.0, 393.0, 3621.0, 3351.0, 270.0, 4863.0, 4603.0, 260.0, 5389.0, 5133.0, 256.0, 3572.0, 3552.0, 20.0, 2086.0, 2082.0, 4.0, 35776.0, 4306.0, 4044.0, 262.0, 3151.0, 3021.0, 130.0, 3721.0, 3591.0, 130.0, 4876.0, 4711.0, 165.0, 5415.0, 5260.0, 155.0, 3749.0, 3739.0, 10.0, 2864.0, 2861.0, 3.0]
['Montgomery', 48528.0, 23904.0, 1960.0, 1720.0, 240.0, 2780.0, 2392.0, 388.0, 2744.0, 2474.0, 270.0, 3076.0, 2891.0, 185.0, 3447.0, 3294.0, 153.0, 2436.0, 2431.0, 5.0, 1418.0, 1418.0, 0.0, 24624.0, 1633.0, 1523.0, 110.0, 2907.0, 2616.0, 291.0, 2810.0, 2676.0, 134.0, 3219.0, 3037.0, 182.0, 3508.0, 3386.0, 122.0, 2514.0, 2505.0, 9.0, 2122.0, 2122.0, 0.0]
['New York', 1621173.0, 766025.0, 77856.0, 71540.0, 6316.0, 155761.0, 140754.0, 15007.0, 115233.0, 103525.0, 11708.0, 99914.0, 92442.0, 7472.0, 86710.0, 81655.0, 5055.0, 60554.0, 59474.0, 1080.0, 44966.0, 44874.0, 92.0, 855148.0, 94248.0, 89286.0, 4962.0, 167211.0, 156890.0, 10321.0, 117427.0, 110589.0, 6838.0, 100794.0, 95462.0, 5332.0, 96794.0, 92514.0, 4280.0, 82443.0, 81619.0, 824.0, 70699.0, 70403.0, 296.0]
['Oneida', 222440.0, 109014.0, 11317.0, 10320.0, 997.0, 11862.0, 10345.0, 1517.0, 11974.0, 10854.0, 1120.0, 14402.0, 13806.0, 596.0, 15276.0, 14652.0, 624.0, 10716.0, 10710.0, 6.0, 7011.0, 7005.0, 6.0, 113426.0, 9957.0, 9429.0, 528.0, 12175.0, 11624.0, 551.0, 12341.0, 11818.0, 523.0, 15062.0, 14552.0, 510.0, 16118.0, 15509.0, 609.0, 11954.0, 11954.0, 0.0, 10343.0, 10336.0, 7.0]
['Ontario', 108596.0, 53097.0, 4912.0, 4628.0, 284.0, 5424.0, 4878.0, 546.0, 5728.0, 5465.0, 263.0, 7484.0, 6996.0, 488.0, 8081.0, 7886.0, 195.0, 5928.0, 5928.0, 0.0, 3414.0, 3414.0, 0.0, 55499.0, 4687.0, 4354.0, 333.0, 5326.0, 5009.0, 317.0, 6087.0, 5817.0, 270.0, 7821.0, 7523.0, 298.0, 8519.0, 8368.0, 151.0, 6519.0, 6519.0, 0.0, 4910.0, 4910.0, 0.0]
['Orleans', 38200.0, 19093.0, 1799.0, 1517.0, 282.0, 1914.0, 1722.0, 192.0, 2080.0, 1882.0, 198.0, 2737.0, 2584.0, 153.0, 3066.0, 2983.0, 83.0, 1980.0, 1980.0, 0.0, 1148.0, 1148.0, 0.0, 19107.0, 1412.0, 1247.0, 165.0, 1998.0, 1903.0, 95.0, 2083.0, 1951.0, 132.0, 2726.0, 2641.0, 85.0, 3100.0, 2976.0, 124.0, 2045.0, 2041.0, 4.0, 1611.0, 1611.0, 0.0]
['Otsego', 59306.0, 28615.0, 4345.0, 4025.0, 320.0, 2618.0, 2370.0, 248.0, 2742.0, 2417.0, 325.0, 3533.0, 3326.0, 207.0, 4186.0, 3944.0, 242.0, 3456.0, 3456.0, 0.0, 2180.0, 2159.0, 21.0, 30691.0, 5117.0, 4827.0, 290.0, 2525.0, 2351.0, 174.0, 2801.0, 2567.0, 234.0, 3687.0, 3574.0, 113.0, 4688.0, 4517.0, 171.0, 3557.0, 3548.0, 9.0, 2804.0, 2794.0, 10.0]
['Queens', 2272058.0, 1101696.0, 97022.0, 82471.0, 14551.0, 165790.0, 131263.0, 34527.0, 156389.0, 127127.0, 29262.0, 152119.0, 129641.0, 22478.0, 139855.0, 126677.0, 13178.0, 86157.0, 83991.0, 2166.0, 56744.0, 56280.0, 464.0, 1170362.0, 99224.0, 89657.0, 9567.0, 164325.0, 142213.0, 22112.0, 158656.0, 137495.0, 21161.0, 159522.0, 141751.0, 17771.0, 155082.0, 143809.0, 11273.0, 106862.0, 104230.0, 2632.0, 90289.0, 89325.0, 964.0]
['Richmond', 470833.0, 228156.0, 20617.0, 19134.0, 1483.0, 28723.0, 25434.0, 3289.0, 28751.0, 26439.0, 2312.0, 31777.0, 29821.0, 1956.0, 30478.0, 29514.0, 964.0, 19939.0, 19692.0, 247.0, 11751.0, 11694.0, 57.0, 242677.0, 20302.0, 19168.0, 1134.0, 28436.0, 26894.0, 1542.0, 30660.0, 28657.0, 2003.0, 34510.0, 33076.0, 1434.0, 33921.0, 32354.0, 1567.0, 23903.0, 23742.0, 161.0, 17561.0, 17351.0, 210.0]
['Saratoga', 225586.0, 110946.0, 8943.0, 8369.0, 574.0, 12057.0, 10862.0, 1195.0, 13920.0, 13005.0, 915.0, 16875.0, 16171.0, 704.0, 16029.0, 15607.0, 422.0, 11424.0, 11415.0, 9.0, 6516.0, 6499.0, 17.0, 114640.0, 9137.0, 8853.0, 284.0, 11447.0, 10781.0, 666.0, 14253.0, 13594.0, 659.0, 17435.0, 16873.0, 562.0, 16775.0, 16165.0, 610.0, 12796.0, 12790.0, 6.0, 8640.0, 8588.0, 52.0]
['Schoharie', 31148.0, 15431.0, 1490.0, 1382.0, 108.0, 1488.0, 1257.0, 231.0, 1601.0, 1505.0, 96.0, 2105.0, 1954.0, 151.0, 2422.0, 2346.0, 76.0, 1920.0, 1920.0, 0.0, 1245.0, 1245.0, 0.0, 15717.0, 1489.0, 1431.0, 58.0, 1430.0, 1324.0, 106.0, 1630.0, 1604.0, 26.0, 2122.0, 2037.0, 85.0, 2559.0, 2460.0, 99.0, 1944.0, 1944.0, 0.0, 1439.0, 1439.0, 0.0]
['Seneca', 31683.0, 15508.0, 1270.0, 1040.0, 230.0, 1761.0, 1417.0, 344.0, 1492.0, 1317.0, 175.0, 1957.0, 1823.0, 134.0, 2502.0, 2358.0, 144.0, 1761.0, 1756.0, 5.0, 1080.0, 1052.0, 28.0, 16175.0, 1301.0, 1146.0, 155.0, 1776.0, 1628.0, 148.0, 1682.0, 1554.0, 128.0, 2132.0, 2047.0, 85.0, 2581.0, 2458.0, 123.0, 1943.0, 1924.0, 19.0, 1357.0, 1334.0, 23.0]
['Steuben', 95301.0, 47586.0, 3836.0, 3293.0, 543.0, 5031.0, 4337.0, 694.0, 5539.0, 5059.0, 480.0, 6469.0, 6048.0, 421.0, 7289.0, 6965.0, 324.0, 5010.0, 5001.0, 9.0, 3113.0, 3113.0, 0.0, 47715.0, 3659.0, 3422.0, 237.0, 4909.0, 4531.0, 378.0, 5464.0, 5149.0, 315.0, 6487.0, 6153.0, 334.0, 7235.0, 6984.0, 251.0, 5256.0, 5244.0, 12.0, 4139.0, 4127.0, 12.0]
['Sullivan', 72998.0, 36785.0, 2824.0, 2515.0, 309.0, 4257.0, 3529.0, 728.0, 4031.0, 3417.0, 614.0, 5082.0, 4810.0, 272.0, 5412.0, 5107.0, 305.0, 4216.0, 4196.0, 20.0, 2331.0, 2331.0, 0.0, 36213.0, 2584.0, 2371.0, 213.0, 3895.0, 3522.0, 373.0, 4049.0, 3568.0, 481.0, 5034.0, 4903.0, 131.0, 5487.0, 5264.0, 223.0, 4186.0, 4155.0, 31.0, 2814.0, 2801.0, 13.0]
['Tompkins', 101802.0, 50155.0, 12516.0, 12112.0, 404.0, 5848.0, 5432.0, 416.0, 4864.0, 4601.0, 263.0, 5085.0, 4793.0, 292.0, 5520.0, 5310.0, 210.0, 4076.0, 4076.0, 0.0, 2281.0, 2281.0, 0.0, 51647.0, 11862.0, 11238.0, 624.0, 5527.0, 5263.0, 264.0, 5538.0, 5331.0, 207.0, 5379.0, 5212.0, 167.0, 6068.0, 5850.0, 218.0, 4511.0, 4488.0, 23.0, 3054.0, 3054.0, 0.0]
['Ulster', 174315.0, 84826.0, 8054.0, 7437.0, 617.0, 9595.0, 8080.0, 1515.0, 9582.0, 8487.0, 1095.0, 11951.0, 11117.0, 834.0, 13180.0, 12406.0, 774.0, 9503.0, 9486.0, 17.0, 5661.0, 5636.0, 25.0, 89489.0, 8142.0, 7451.0, 691.0, 9364.0, 8346.0, 1018.0, 10001.0, 9241.0, 760.0, 12600.0, 11943.0, 657.0, 13884.0, 13251.0, 633.0, 10597.0, 10527.0, 70.0, 7795.0, 7778.0, 17.0]
['Washington', 58570.0, 29155.0, 2249.0, 2041.0, 208.0, 3015.0, 2408.0, 607.0, 3501.0, 3123.0, 378.0, 4214.0, 3846.0, 368.0, 4512.0, 4363.0, 149.0, 3279.0, 3262.0, 17.0, 1969.0, 1969.0, 0.0, 29415.0, 2063.0, 1939.0, 124.0, 2932.0, 2686.0, 246.0, 3443.0, 3192.0, 251.0, 4382.0, 4218.0, 164.0, 4642.0, 4510.0, 132.0, 3425.0, 3413.0, 12.0, 2569.0, 2566.0, 3.0]
['Westchester', 956650.0, 462558.0, 40497.0, 36550.0, 3947.0, 50019.0, 41008.0, 9011.0, 59614.0, 51337.0, 8277.0, 67406.0, 61743.0, 5663.0, 61789.0, 58990.0, 2799.0, 39138.0, 38780.0, 358.0, 27730.0, 27680.0, 50.0, 494092.0, 40930.0, 37828.0, 3102.0, 49093.0, 43715.0, 5378.0, 62452.0, 56963.0, 5489.0, 72721.0, 68897.0, 3824.0, 67718.0, 65232.0, 2486.0, 46598.0, 46179.0, 419.0, 43472.0, 43265.0, 207.0]
['Yates', 24685.0, 11801.0, 1137.0, 879.0, 258.0, 1209.0, 941.0, 268.0, 1110.0, 891.0, 219.0, 1394.0, 1165.0, 229.0, 1794.0, 1645.0, 149.0, 1451.0, 1429.0, 22.0, 858.0, 853.0, 5.0, 12884.0, 1504.0, 1076.0, 428.0, 1096.0, 870.0, 226.0, 1200.0, 995.0, 205.0, 1465.0, 1269.0, 196.0, 1975.0, 1861.0, 114.0, 1456.0, 1450.0, 6.0, 1095.0, 1084.0, 11.0]

In [106]:
# make into dataframe
healthDF = pd.DataFrame(healthData)

# add header
new_header = healthDF.iloc[0] 
healthDF = healthDF[1:] 
healthDF.columns = new_header 

# view
healthDF

,County,Total:,Total: Male:,Total: Male: 19 to 25 years:,Total: Male: 19 to 25 years: With health insurance coverage,Total: Male: 19 to 25 years: No health insurance coverage,Total: Male: 26 to 34 years:,Total: Male: 26 to 34 years: With health insurance coverage,Total: Male: 26 to 34 years: No health insurance coverage,Total: Male: 35 to 44 years:,...,Total: Female: 45 to 54 years: No health insurance coverage,Total: Female: 55 to 64 years:,Total: Female: 55 to 64 years: With health insurance coverage,Total: Female: 55 to 64 years: No health insurance coverage,Total: Female: 65 to 74 years:,Total: Female: 65 to 74 years: With health insurance coverage,Total: Female: 65 to 74 years: No health insurance coverage,Total: Female: 75 years and over:,Total: Female: 75 years and over: With health insurance coverage,Total: Female: 75 years and over: No health insurance coverage
1,Albany,303159.0,146903.0,20660.0,19528.0,1132.0,17899.0,16040.0,1859.0,17006.0,...,536.0,20960.0,20615.0,345.0,15284.0,15238.0,46.0,12072.0,12049.0,23.0
2,Allegany,46221.0,23452.0,3223.0,2965.0,258.0,2146.0,1871.0,275.0,2281.0,...,167.0,3267.0,3129.0,138.0,2473.0,2469.0,4.0,1857.0,1857.0,0.0
3,Bronx,1414023.0,663121.0,76306.0,64971.0,11335.0,95653.0,73078.0,22575.0,81736.0,...,8802.0,86057.0,81273.0,4784.0,56457.0,55422.0,1035.0,47046.0,46424.0,622.0
4,Broome,190442.0,93663.0,12962.0,11717.0,1245.0,9612.0,8318.0,1294.0,9572.0,...,393.0,13701.0,13237.0,464.0,9906.0,9906.0,0.0,9741.0,9704.0,37.0
5,Cattaraugus,76342.0,37893.0,3355.0,2783.0,572.0,3815.0,3288.0,527.0,4091.0,...,276.0,5799.0,5574.0,225.0,4183.0,4166.0,17.0,3350.0,3334.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Washington,58570.0,29155.0,2249.0,2041.0,208.0,3015.0,2408.0,607.0,3501.0,...,164.0,4642.0,4510.0,132.0,3425.0,3413.0,12.0,2569.0,2566.0,3.0
60,Wayne,89743.0,44503.0,3637.0,3341.0,296.0,4598.0,4099.0,499.0,4992.0,...,270.0,7053.0,6930.0,123.0,5043.0,5019.0,24.0,3591.0,3584.0,7.0
61,Westchester,956650.0,462558.0,40497.0,36550.0,3947.0,50019.0,41008.0,9011.0,59614.0,...,3824.0,67718.0,65232.0,2486.0,46598.0,46179.0,419.0,43472.0,43265.0,207.0
62,Wyoming,37846.0,19123.0,1374.0,1188.0,186.0,2346.0,2100.0,246.0,2149.0,...,117.0,2832.0,2779.0,53.0,2080.0,2076.0,4.0,1510.0,1510.0,0.0
63,Yates,24685.0,11801.0,1137.0,879.0,258.0,1209.0,941.0,268.0,1110.0,...,196.0,1975.0,1861.0,114.0,1456.0,1450.0,6.0,1095.0,1084.0,11.0

In [107]:
# write to csv
# write to sex data to csv
# as backup
healthDF.to_csv("NY_healthData.csv")

In [108]:
# check csv saved correctly
# read data in from csv
# this is so you don't have to run through the previous for loop (saves time)

healthDF = pd.read_csv('NY_healthData.csv')
healthDF = healthDF.drop(['Unnamed: 0'], axis = 1)
healthDF

,County,Total:,Total: Male:,Total: Male: 19 to 25 years:,Total: Male: 19 to 25 years: With health insurance coverage,Total: Male: 19 to 25 years: No health insurance coverage,Total: Male: 26 to 34 years:,Total: Male: 26 to 34 years: With health insurance coverage,Total: Male: 26 to 34 years: No health insurance coverage,Total: Male: 35 to 44 years:,...,Total: Female: 45 to 54 years: No health insurance coverage,Total: Female: 55 to 64 years:,Total: Female: 55 to 64 years: With health insurance coverage,Total: Female: 55 to 64 years: No health insurance coverage,Total: Female: 65 to 74 years:,Total: Female: 65 to 74 years: With health insurance coverage,Total: Female: 65 to 74 years: No health insurance coverage,Total: Female: 75 years and over:,Total: Female: 75 years and over: With health insurance coverage,Total: Female: 75 years and over: No health insurance coverage
0,Albany,303159.0,146903.0,20660.0,19528.0,1132.0,17899.0,16040.0,1859.0,17006.0,...,536.0,20960.0,20615.0,345.0,15284.0,15238.0,46.0,12072.0,12049.0,23.0
1,Allegany,46221.0,23452.0,3223.0,2965.0,258.0,2146.0,1871.0,275.0,2281.0,...,167.0,3267.0,3129.0,138.0,2473.0,2469.0,4.0,1857.0,1857.0,0.0
2,Bronx,1414023.0,663121.0,76306.0,64971.0,11335.0,95653.0,73078.0,22575.0,81736.0,...,8802.0,86057.0,81273.0,4784.0,56457.0,55422.0,1035.0,47046.0,46424.0,622.0
3,Broome,190442.0,93663.0,12962.0,11717.0,1245.0,9612.0,8318.0,1294.0,9572.0,...,393.0,13701.0,13237.0,464.0,9906.0,9906.0,0.0,9741.0,9704.0,37.0
4,Cattaraugus,76342.0,37893.0,3355.0,2783.0,572.0,3815.0,3288.0,527.0,4091.0,...,276.0,5799.0,5574.0,225.0,4183.0,4166.0,17.0,3350.0,3334.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Washington,58570.0,29155.0,2249.0,2041.0,208.0,3015.0,2408.0,607.0,3501.0,...,164.0,4642.0,4510.0,132.0,3425.0,3413.0,12.0,2569.0,2566.0,3.0
59,Wayne,89743.0,44503.0,3637.0,3341.0,296.0,4598.0,4099.0,499.0,4992.0,...,270.0,7053.0,6930.0,123.0,5043.0,5019.0,24.0,3591.0,3584.0,7.0
60,Westchester,956650.0,462558.0,40497.0,36550.0,3947.0,50019.0,41008.0,9011.0,59614.0,...,3824.0,67718.0,65232.0,2486.0,46598.0,46179.0,419.0,43472.0,43265.0,207.0
61,Wyoming,37846.0,19123.0,1374.0,1188.0,186.0,2346.0,2100.0,246.0,2149.0,...,117.0,2832.0,2779.0,53.0,2080.0,2076.0,4.0,1510.0,1510.0,0.0
62,Yates,24685.0,11801.0,1137.0,879.0,258.0,1209.0,941.0,268.0,1110.0,...,196.0,1975.0,1861.0,114.0,1456.0,1450.0,6.0,1095.0,1084.0,11.0

## Create Dataframe on Income

In [112]:
acs.filter_tables('MEDIAN INCOME', by = 'description')

,description,columns
table_name,,
B06011,MEDIAN INCOME IN THE PAST 12 MONTHS (IN 2019 I...,"[B06011_001E, B06011_002E, B06011_003E, B06011..."
B07011,MEDIAN INCOME IN THE PAST 12 MONTHS (IN 2019 I...,"[B07011_001E, B07011_002E, B07011_003E, B07011..."
B07411,MEDIAN INCOME IN THE PAST 12 MONTHS (IN 2019 I...,"[B07411_001E, B07411_002E, B07411_003E, B07411..."
B19326,MEDIAN INCOME IN THE PAST 12 MONTHS (IN 2019 I...,"[B19326_001E, B19326_002E, B19326_003E, B19326..."
B21004,MEDIAN INCOME IN THE PAST 12 MONTHS (IN 2019 I...,"[B21004_001E, B21004_002E, B21004_003E, B21004..."

In [118]:
totalIncomeData = acs.filter_variables('B19326')
totalIncomeData

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B19326_001E,Estimate!!Median income in the past 12 months ...,MEDIAN INCOME IN THE PAST 12 MONTHS (IN 2019 I...,int,B19326,0,NaN,NaN,"B19326_001EA,B19326_001M,B19326_001MA",NaN
B19326_002E,Estimate!!Median income in the past 12 months ...,MEDIAN INCOME IN THE PAST 12 MONTHS (IN 2019 I...,int,B19326,0,NaN,NaN,"B19326_002EA,B19326_002M,B19326_002MA",NaN
B19326_003E,Estimate!!Median income in the past 12 months ...,MEDIAN INCOME IN THE PAST 12 MONTHS (IN 2019 I...,int,B19326,0,NaN,NaN,"B19326_003EA,B19326_003M,B19326_003MA",NaN
B19326_004E,Estimate!!Median income in the past 12 months ...,MEDIAN INCOME IN THE PAST 12 MONTHS (IN 2019 I...,int,B19326,0,NaN,NaN,"B19326_004EA,B19326_004M,B19326_004MA",NaN
B19326_005E,Estimate!!Median income in the past 12 months ...,MEDIAN INCOME IN THE PAST 12 MONTHS (IN 2019 I...,int,B19326,0,NaN,NaN,"B19326_005EA,B19326_005M,B19326_005MA",NaN
B19326_006E,Estimate!!Median income in the past 12 months ...,MEDIAN INCOME IN THE PAST 12 MONTHS (IN 2019 I...,int,B19326,0,NaN,NaN,"B19326_006EA,B19326_006M,B19326_006MA",NaN
B19326_007E,Estimate!!Median income in the past 12 months ...,MEDIAN INCOME IN THE PAST 12 MONTHS (IN 2019 I...,int,B19326,0,NaN,NaN,"B19326_007EA,B19326_007M,B19326_007MA",NaN

In [123]:
incomeData = []

# columns to drop
to_drop = ['GEOID', 'geometry', 'state', 'county', 'tract', "NAME"]

# renamed column names
rename = ['Total (dollars):',
          'Total Male (dollars):',
          'Total Male: Full-Time, Year-Round (dollars)',
          'Total Male: Other (dollars)',
          'Total Female (dollars):',
          'Total Female: Full-Time, Year-Round (dollars)',
          'Total Female: Other (dollars)']


for i in range(len(counties)):

    name = counties[i] + ", NY"
    currentDF = acs.from_county(name, variables = 'B19326')
    current = counties[i]
    
    # if first round through
    # create labels to rename the dataframes
    if i == 0:
        indexVals = totalIncomeData.index
        labels = totalIncomeData['label'].to_list()
        labelsDict = OrderedDict({})
        for key in indexVals:
            for value in labels:
                labelsDict[key] = value
                labels.remove(value)
                break

        labelsDict.update({"geometry": "geometry"})
        labelsDict.move_to_end("geometry", last = False)

        labelsDict.update({"GEOID": "GEOID"})
        labelsDict.move_to_end("GEOID", last = False)

        labelsDict.update({"state": "state"})
        labelsDict.update({"county": "county"})
        labelsDict.update({"tract": "tract"})
        labelsDict.update({"NAME": "NAME"})
        
    
    # rename the dataframe
    currentDF.columns = currentDF.columns.to_series().map(labelsDict)
    
    # drop columns
    currentDF = currentDF.drop(to_drop, axis = 1)
    
    # rename the columns 
    currentDF = currentDF.set_axis(rename, axis = 1)
    
    
    # get the sums for each category and put into a dictonary
    current_sums = currentDF.sum().to_dict()
    current_sums = OrderedDict(current_sums)

    current_sums.update({"County": current})
    current_sums.move_to_end("County", last = False)

    current_sums = dict(current_sums)

    # if first run through
    # get the headers for the final dataframe
    # append to the final dataframe
    if i == 0:
        headers = list(current_sums.keys())
        incomeData.append(headers)
        
    # create inner_row to append
    # and append to final dataframe
    inner_row = list(current_sums.values())
    incomeData.append(inner_row)
    

    # for periodic checking
    if ((i % 2) == 0):
        print(inner_row)
        
        
        
    # force code to take time
    # do this to avoid a 429 error
    # (too many requests error)
    time.sleep(5)

['Albany', 2646121.0, 3100069.0, 4357419.0, 1548699.0, 2297530.0, 3871882.0, 1299103.0]
['Bronx', 8327787.0, 9578888.0, 14532777.0, 4588373.0, 7240064.0, 13670884.0, 4141447.0]
['Cattaraugus', 533540.0, 633977.0, 895314.0, 396573.0, 433440.0, 780493.0, 280295.0]
['Chautauqua', 881505.0, 1115182.0, 1629439.0, 637912.0, 712661.0, 1311482.0, 493576.0]
['Chenango', 336230.0, 410896.0, 585966.0, 248874.0, 273723.0, 469179.0, 173954.0]
['Columbia', 721055.0, 854399.0, 1190478.0, 540769.0, 611357.0, 1022223.0, 385143.0]
['Delaware', 358779.0, 430780.0, 667405.0, 281529.0, 301996.0, 521661.0, 204537.0]
['Erie', 7399749.0, 8984282.0, 12482678.0, 4837010.0, 6180184.0, 10533949.0, 3786312.0]
['Franklin', 414233.0, 472108.0, 663267.0, 268630.0, 352129.0, 599259.0, 206260.0]
['Genesee', 432748.0, 537061.0, 759552.0, 316481.0, 343751.0, 588556.0, 218883.0]
['Hamilton', 97283.0, 123569.0, 158639.0, 96126.0, 59300.0, 175626.0, 44229.0]
['Jefferson', 692184.0, 875151.0, 1147294.0, 479681.0, 526571.0, 914508.0, 332373.0]
['Lewis', 204924.0, 247933.0, 332192.0, 160499.0, 170945.0, 288129.0, 108207.0]
['Madison', 474021.0, 587313.0, 879343.0, 311960.0, 391206.0, 712673.0, 235646.0]
['Montgomery', 413212.0, 504606.0, 742343.0, 279246.0, 342667.0, 670540.0, 218334.0]
['New York', 16775047.0, 21301945.0, 30381782.0, 7553584.0, 13731319.0, 22343404.0, 6029137.0]
['Oneida', 2062221.0, 2458601.0, 3524669.0, 1435550.0, 1706065.0, 2850102.0, 1077832.0]
['Ontario', 830239.0, 1009105.0, 1407336.0, 601848.0, 673873.0, 1170166.0, 417053.0]
['Orleans', 285266.0, 356603.0, 502984.0, 221036.0, 223829.0, 409594.0, 141157.0]
['Otsego', 428732.0, 505109.0, 791128.0, 305623.0, 366173.0, 661480.0, 235699.0]
['Queens', 22224648.0, 25261481.0, 34874247.0, 11746354.0, 19135446.0, 32373771.0, 9639749.0]
['Richmond', 4243875.0, 5231106.0, 7632031.0, 2350606.0, 3376983.0, 6053475.0, 1637277.0]
['Saratoga', 2048934.0, 2597911.0, 3495947.0, 1375686.0, 1595548.0, 2660073.0, 888446.0]
['Schoharie', 219277.0, 272146.0, 383961.0, 174097.0, 177179.0, 291658.0, 114240.0]
['Seneca', 297939.0, 349835.0, 518203.0, 211912.0, 241491.0, 422084.0, 152542.0]
['Steuben', 864137.0, 1053296.0, 1515174.0, 631013.0, 685417.0, 1228853.0, 460823.0]
['Sullivan', 722534.0, 844512.0, 1297349.0, 496760.0, 607718.0, 1023253.0, 386106.0]
['Tompkins', 639108.0, 726212.0, 1258351.0, 400515.0, 554883.0, 1164688.0, 331488.0]
['Ulster', 1504395.0, 1805961.0, 2621471.0, 1026870.0, 1270091.0, 2244418.0, 763976.0]
['Washington', 505212.0, 589364.0, 854369.0, 376208.0, 429104.0, 752961.0, 286032.0]
['Westchester', 10730779.0, 14535052.0, 20591730.0, 5425486.0, 8278668.0, 15465812.0, 4249884.0]
['Yates', 131902.0, 168820.0, 233827.0, 98503.0, 101573.0, 197221.0, 67529.0]

In [125]:
# make into dataframe
incomeDF = pd.DataFrame(incomeData)

# add header
new_header = incomeDF.iloc[0] 
incomeDF = incomeDF[1:] 
incomeDF.columns = new_header 

# view
incomeDF

,County,Total (dollars):,Total Male (dollars):,"Total Male: Full-Time, Year-Round (dollars)",Total Male: Other (dollars),Total Female (dollars):,"Total Female: Full-Time, Year-Round (dollars)",Total Female: Other (dollars)
1,Albany,2646121.0,3100069.0,4357419.0,1548699.0,2297530.0,3871882.0,1299103.0
2,Allegany,294556.0,385827.0,585206.0,256544.0,220717.0,440929.0,154588.0
3,Bronx,8327787.0,9578888.0,14532777.0,4588373.0,7240064.0,13670884.0,4141447.0
4,Broome,1505106.0,1816483.0,2736401.0,1123739.0,1257354.0,2285045.0,830019.0
5,Cattaraugus,533540.0,633977.0,895314.0,396573.0,433440.0,780493.0,280295.0
...,...,...,...,...,...,...,...,...
59,Washington,505212.0,589364.0,854369.0,376208.0,429104.0,752961.0,286032.0
60,Wayne,683069.0,826521.0,1139451.0,482135.0,554349.0,889473.0,356275.0
61,Westchester,10730779.0,14535052.0,20591730.0,5425486.0,8278668.0,15465812.0,4249884.0
62,Wyoming,346071.0,439959.0,573114.0,285537.0,261366.0,436799.0,166505.0
63,Yates,131902.0,168820.0,233827.0,98503.0,101573.0,197221.0,67529.0

In [126]:
# write to csv
# write to sex data to csv
# as backup
incomeDF.to_csv("NY_incomeData.csv")

In [127]:
# check csv saved correctly
# read data in from csv
# this is so you don't have to run through the previous for loop (saves time)

incomeDF = pd.read_csv('NY_incomeData.csv')
incomeDF = incomeDF.drop(['Unnamed: 0'], axis = 1)
incomeDF

,County,Total (dollars):,Total Male (dollars):,"Total Male: Full-Time, Year-Round (dollars)",Total Male: Other (dollars),Total Female (dollars):,"Total Female: Full-Time, Year-Round (dollars)",Total Female: Other (dollars)
0,Albany,2646121.0,3100069.0,4357419.0,1548699.0,2297530.0,3871882.0,1299103.0
1,Allegany,294556.0,385827.0,585206.0,256544.0,220717.0,440929.0,154588.0
2,Bronx,8327787.0,9578888.0,14532777.0,4588373.0,7240064.0,13670884.0,4141447.0
3,Broome,1505106.0,1816483.0,2736401.0,1123739.0,1257354.0,2285045.0,830019.0
4,Cattaraugus,533540.0,633977.0,895314.0,396573.0,433440.0,780493.0,280295.0
...,...,...,...,...,...,...,...,...
58,Washington,505212.0,589364.0,854369.0,376208.0,429104.0,752961.0,286032.0
59,Wayne,683069.0,826521.0,1139451.0,482135.0,554349.0,889473.0,356275.0
60,Westchester,10730779.0,14535052.0,20591730.0,5425486.0,8278668.0,15465812.0,4249884.0
61,Wyoming,346071.0,439959.0,573114.0,285537.0,261366.0,436799.0,166505.0
62,Yates,131902.0,168820.0,233827.0,98503.0,101573.0,197221.0,67529.0

## Create Dataframe on Housing

In [ ]:
acs.filter_tables('HOUSE', by = 'description')

In [ ]:
totalHousingData = acs.filter_variables('B11016')

In [ ]:
incomeData = []

# columns to drop
to_drop = ['GEOID', 'geometry', 'state', 'county', 'tract', "NAME"]

# renamed column names
rename = ['Total (dollars):',
          'Total Male (dollars):',
          'Total Male: Full-Time, Year-Round (dollars)',
          'Total Male: Other (dollars)',
          'Total Female (dollars):',
          'Total Female: Full-Time, Year-Round (dollars)',
          'Total Female: Other (dollars)']


for i in range(len(counties)):

    name = counties[i] + ", NY"
    currentDF = acs.from_county(name, variables = 'B19326')
    current = counties[i]
    
    # if first round through
    # create labels to rename the dataframes
    if i == 0:
        indexVals = totalIncomeData.index
        labels = totalIncomeData['label'].to_list()
        labelsDict = OrderedDict({})
        for key in indexVals:
            for value in labels:
                labelsDict[key] = value
                labels.remove(value)
                break

        labelsDict.update({"geometry": "geometry"})
        labelsDict.move_to_end("geometry", last = False)

        labelsDict.update({"GEOID": "GEOID"})
        labelsDict.move_to_end("GEOID", last = False)

        labelsDict.update({"state": "state"})
        labelsDict.update({"county": "county"})
        labelsDict.update({"tract": "tract"})
        labelsDict.update({"NAME": "NAME"})
        
    
    # rename the dataframe
    currentDF.columns = currentDF.columns.to_series().map(labelsDict)
    
    # drop columns
    currentDF = currentDF.drop(to_drop, axis = 1)
    
    # rename the columns 
    currentDF = currentDF.set_axis(rename, axis = 1)
    
    
    # get the sums for each category and put into a dictonary
    current_sums = currentDF.sum().to_dict()
    current_sums = OrderedDict(current_sums)

    current_sums.update({"County": current})
    current_sums.move_to_end("County", last = False)

    current_sums = dict(current_sums)

    # if first run through
    # get the headers for the final dataframe
    # append to the final dataframe
    if i == 0:
        headers = list(current_sums.keys())
        incomeData.append(headers)
        
    # create inner_row to append
    # and append to final dataframe
    inner_row = list(current_sums.values())
    incomeData.append(inner_row)
    

    # for periodic checking
    if ((i % 2) == 0):
        print(inner_row)
        
        
        
    # force code to take time
    # do this to avoid a 429 error
    # (too many requests error)
    time.sleep(5)