In [16]:
import pandas as pd
import numpy as np

import cenpy as cen
from collections import OrderedDict

import warnings
warnings.simplefilter('ignore')

In [2]:
ny_zip_ref = pd.read_csv('New_York_State_Zip_Codes-County_FIPS_Cross-Reference.csv')

# only need to keep 'County Name' and 'ZIP Code'

ny_zip_ref = ny_zip_ref[['County Name', 'ZIP Code']]
ny_zip_ref

     County Name  ZIP Code
0         Albany     12007
1         Albany     12009
2         Albany     12023
3         Albany     12041
4         Albany     12045
...          ...       ...
2538       Yates     14561
2539       Yates     14837
2540       Yates     14842
2541       Yates     14857
2542       Yates     14878

[2543 rows x 2 columns]

In [3]:
# might not need this

sites = pd.read_csv('Voting_Poll_Sites.csv')
sites

,BOROUGH,SITE_STATUS,SITE_NAME,SITE_NUMBER,STREET_NUMBER,STREET_SUFFIX,STREET_NAME,POSTCODE,CITY,VOTER_ENTRANCE,HANDICAP_ENTRANCE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,Location
0,BROOKLYN,A,PS 12,11537,430,NaN,Howard Avenue,11233,Brooklyn,430 Howard Avenue (not used for voters),Enter on Prospect Place through school yard,NaN,NaN,16.0,41.0,363.0,3039174.0,3.014570e+09,Ocean Hill,NaN
1,NaN,A,Wyatt T. Walker Senior Housing,11517,2177,NaN,Frederick Douglass Boulevard,10026,New York,2177 Frederick Douglas Blvd,2177 Frederick Douglas Blvd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,QUEENS,A,Allen AME Senior Center,10590,112-04,NaN,167 Street,11433,Jamaica,112-04 167th Street,112-04 167th Street,40.691478,-73.783335,12.0,27.0,266.0,4435291.0,4.123220e+09,South Jamaica,"(40.691478, -73.783335)"
3,BROOKLYN,A,Marlboro Memorial Post,11493,300,NaN,Avenue X,11223,Brooklyn,300 Avenue X,300 Avenue X,NaN,NaN,15.0,47.0,37402.0,3195077.0,3.071940e+09,Gravesend,NaN
4,BROOKLYN,A,PAL-Wynn Center,11629,495,NaN,Gates Avenue,11216,Brooklyn,495 Gates Avenue,495 Gates Avenue,NaN,NaN,3.0,36.0,265.0,3050974.0,3.018090e+09,Bedford,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1226,QUEENS,A,PS 107-Thomas A Dooley,Q0082,167-02,NaN,45 Avenue,11358,Flushing,167-02 45 Avenue,Side Entrance facing 168th Street near 45th Av...,40.755951,-73.799746,7.0,19.0,1195.0,4123454.0,4.054460e+09,East Flushing,"(40.755951, -73.799746)"
1227,MANHATTAN,A,Triangle House,M0015,112,NaN,East 128 Street,10035,New York,112 East 128 Street,112 East 128 Street,40.806665,-73.937085,11.0,9.0,242.0,1054499.0,1.017750e+09,East Harlem North,"(40.806665, -73.937085)"
1228,BROOKLYN,A,Warbasse Houses Bldg 5C,B0274,545,NaN,Neptune Avenue,11224,Brooklyn,545 Neptune Avenue,West Avenue,40.579987,-73.973001,13.0,47.0,354.0,3257102.0,3.072500e+09,West Brighton,"(40.579987, -73.973001)"
1229,BRONX,A,Pelham Pkwy Community Center,00036,785,NaN,Pelham Parkway North,10467,Bronx,785 Pelham Parkway North - around playgound,785 Pelham Parkway North - around playgound,40.857972,-73.864564,11.0,13.0,328.0,2093364.0,2.043490e+09,Bronxdale,"(40.857972, -73.864564)"
1230,STATEN IS,A,PS 20 Port Richmond,10574,161,NaN,Park Avenue,10302,Staten Island,161 Park Avenue,To the right of the Main Entrance,40.636547,-74.132869,1.0,49.0,207.0,5106979.0,5.010200e+09,Port Richmond,"(40.636547, -74.132869)"

In [4]:
pres = pd.read_csv('2012President.csv')

# keep select columns
pres_cols = ["county", "office", "candidate", "party", "votes"]
pres = pres[pres_cols]

# keep only where office == President
pres = pres.loc[pres['office'] == "President"]
pres = pres.drop(['office'], axis = 1)

# get voting sums
agg_functions = {'county': 'first', 'candidate': 'first', 'party': 'first', 'votes': 'sum'}
pres_agg = pres.groupby(['county', 'candidate']).aggregate(agg_functions)

# drop index
pres_agg = pres_agg.reset_index(drop = True)
pres_agg

     county     candidate party     votes
0    Albany  Barack Obama   DEM  175112.0
1    Albany  Gary Johnson   LBT    2722.0
2    Albany    Jill Stein   GRE    2476.0
3    Albany   Mitt Romney   REP   90128.0
4    Albany  Peta Lindsay   PSL     104.0
..      ...           ...   ...       ...
393   Yates    Jill Stein   GRN     134.0
394   Yates   Mitt Romney   REP    9596.0
395   Yates  Peta Lindsay   PSL       6.0
396   Yates  Virgil Goode   CST      34.0
397   Yates      Write-in  None       0.0

[398 rows x 4 columns]

In [14]:
counties = pres_agg.county.unique().tolist()
counties
# print(len(counties))

['Albany',
 'Allegany',
 'Bronx',
 'Broome',
 'Cattaraugus',
 'Cayuga',
 'Chautauqua',
 'Chenango',
 'Clinton',
 'Columbia',
 'Cortland',
 'Delaware',
 'Dutchess',
 'Erie',
 'Essex',
 'Franklin',
 'Fulton',
 'Genessee',
 'Greene',
 'Hamilton',
 'Herkimer',
 'Jefferson',
 'Lewis',
 'Livingston',
 'Madison',
 'Monroe',
 'Nassau',
 'New York',
 'Niagara',
 'Oneida',
 'Onondaga',
 'Ontario',
 'Orange',
 'Oswego',
 'Otsego',
 'Queens',
 'Rensselaer',
 'Richmond',
 'Rockland',
 'Saratoga',
 'Schenectady',
 'Schoharie',
 'Seneca',
 'St Lawrence',
 'Suffolk',
 'Sullivan',
 'Tioga',
 'Tompkins',
 'Ulster',
 'Warren',
 'Wayne',
 'Westchester',
 'Wyoming',
 'Yates']

In [6]:
# using cenpy get NY data
acs = cen.products.ACS()
acs.from_place('NY')

/Users/lmhartmann/miniconda3/lib/python3.9/site-packages/cenpy/products.py:791: UserWarning: Uncertain place identifier "NY". The place identifier should look something like "placename, state" or, for larger areas, like Combined Statistical Areas or Metropolitan Statistical Areas,"placename1-placename2, state1-state2-state3"
  geoms, variables, *rest = super(ACS, self).from_place(
/Users/lmhartmann/miniconda3/lib/python3.9/site-packages/cenpy/products.py:993: UserWarning: Cannot disambiguate placename NY. Picking the shortest, best matched placename, Onyx CDP, from Onyx CDP, Pony CDP
  warn(

Matched: NY to Onyx CDP within layer Census Designated Places

/var/folders/7f/sy5wyq412ng6bjc33vy79cg40000gn/T/ipykernel_8311/4206692168.py:3: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  acs.from_place('NY')

Empty GeoDataFrame
Columns: [geometry, state, county, tract, GEOID]
Index: []

In [7]:
# to see what categories we can look through
acs.tables

,description,columns
table_name,,
B01001,SEX BY AGE,"[B01001_001E, B01001_002E, B01001_003E, B01001..."
B01002,MEDIAN AGE BY SEX,"[B01002_001E, B01002_002E, B01002_003E]"
B01003,TOTAL POPULATION,[B01003_001E]
B02001,RACE,"[B02001_001E, B02001_002E, B02001_003E, B02001..."
B02008,WHITE ALONE OR IN COMBINATION WITH ONE OR MORE...,[B02008_001E]
...,...,...
C27014,PUBLIC HEALTH INSURANCE BY WORK EXPERIENCE,"[C27014_001E, C27014_002E, C27014_003E, C27014..."
C27016,HEALTH INSURANCE COVERAGE STATUS BY RATIO OF I...,"[C27016_001E, C27016_002E, C27016_003E, C27016..."
C27017,PRIVATE HEALTH INSURANCE BY RATIO OF INCOME TO...,"[C27017_001E, C27017_002E, C27017_003E, C27017..."
C27018,PUBLIC HEALTH INSURANCE BY RATIO OF INCOME TO ...,"[C27018_001E, C27018_002E, C27018_003E, C27018..."
C27021,HEALTH INSURANCE COVERAGE STATUS BY LIVING AR...,"[C27021_001E, C27021_002E, C27021_003E, C27021..."

In [ ]:
# all_options = acs.tables.description.unique().tolist()
# all_options 

# # ones to look at 
# # race
# # AGGREGATE FAMILY INCOME IN THE PAST 12 MONTHS (IN 2019 INFLATION-ADJUSTED DOLLARS)
# # marital status?
# # health insurance
# # education

## Create Dataframe on Sex Data

In [8]:
acs.filter_tables('SEX', by = 'description')

,description,columns
table_name,,
B01001,SEX BY AGE,"[B01001_001E, B01001_002E, B01001_003E, B01001..."
B01002,MEDIAN AGE BY SEX,"[B01002_001E, B01002_002E, B01002_003E]"
B05003,SEX BY AGE BY NATIVITY AND CITIZENSHIP STATUS,"[B05003_001E, B05003_002E, B05003_003E, B05003..."
B05004,MEDIAN AGE BY NATIVITY AND CITIZENSHIP STATUS ...,"[B05004_001E, B05004_002E, B05004_003E, B05004..."
B05008,SEX BY PLACE OF BIRTH BY YEAR OF ENTRY FOR THE...,"[B05008_001E, B05008_002E, B05008_003E, B05008..."
...,...,...
C27005,DIRECT-PURCHASE HEALTH INSURANCE BY SEX BY AGE,"[C27005_001E, C27005_002E, C27005_003E, C27005..."
C27006,MEDICARE COVERAGE BY SEX BY AGE,"[C27006_001E, C27006_002E, C27006_003E, C27006..."
C27007,MEDICAID/MEANS-TESTED PUBLIC COVERAGE BY SEX B...,"[C27007_001E, C27007_002E, C27007_003E, C27007..."
C27008,TRICARE/MILITARY HEALTH COVERAGE BY SEX BY AGE,"[C27008_001E, C27008_002E, C27008_003E, C27008..."
C27009,VA HEALTH CARE BY SEX BY AGE,"[C27009_001E, C27009_002E, C27009_003E, C27009..."

In [9]:
totalSexData = acs.filter_variables('B01001')

In [36]:
sexData = []
sexData0 = [] # 0 - 9
sexData1 = [] # 10 - 19
sexData2 = [] # 20 - 29
sexData3 = [] # 30 - 39
sexData4 = [] # 40 - 49
sexData5 = [] # 50 - 54

# the columns we are looking for
to_keep = ["Estimate!!Total:", "Estimate!!Total:!!Female:",
          "Estimate!!Total:!!Female:!!18 and 19 years", "Estimate!!Total:!!Female:!!20 to 24 years",
          "Estimate!!Total:!!Female:!!25 to 29 years", "Estimate!!Total:!!Female:!!30 to 34 years",
          "Estimate!!Total:!!Female:!!35 to 44 years", "Estimate!!Total:!!Female:!!45 to 54 years",
          "Estimate!!Total:!!Female:!!55 to 64 years", "Estimate!!Total:!!Female:!!65 to 74 years",
          "Estimate!!Total:!!Female:!!75 to 84 years", "Estimate!!Total:!!Female:!!85 years and over",
          "Estimate!!Total:!!Male:",
          "Estimate!!Total:!!Male:!!18 and 19 years", "Estimate!!Total:!!Male:!!20 to 24 years",
          "Estimate!!Total:!!Male:!!25 to 29 years", "Estimate!!Total:!!Male:!!30 to 34 years",
          "Estimate!!Total:!!Male:!!35 to 44 years", "Estimate!!Total:!!Male:!!45 to 54 years",
          "Estimate!!Total:!!Male:!!55 to 64 years", "Estimate!!Total:!!Male:!!65 to 74 years",
          "Estimate!!Total:!!Male:!!75 to 84 years", "Estimate!!Total:!!Male:!!85 years and over"]

# renamed column names
rename = ["Total:", "Total Female:",
          "Total Female: 18 and 19 years", "Total Female: 20 to 24 years",
          "Total Female: 25 to 29 years", "Total Female: 30 to 34 years",
          "Total Female: 35 to 44 years", "Total Female: 45 to 54 years",
          "Total Female: 55 to 64 years", "Total Female: 65 to 74 years",
          "Total Female: 75 to 84 years", "Total Female: 85 years and over",
          "Total Male:",
          "Total Male: 18 and 19 years", "Total Male: 20 to 24 years",
          "Total Male: 25 to 29 years", "Total Male: 30 to 34 years",
          "Total Male: 35 to 44 years", "Total Male: 45 to 54 years",
          "Total Male: 55 to 64 years", "Total Male: 65 to 74 years",
          "Total Male: 75 to 84 years", "Total Male: 85 years and over"]

# run in groups of 10 because of 'too many requests' error

for i in range(10):

    name = counties[i] + ", NY"
    currentDF = acs.from_county(name, variables = 'B01001')
    current = counties[i]
    
    # if first round through
    # create labels to rename the dataframes
    if i == 0:
        indexVals = totalSexData.index
        labels = totalSexData['label'].to_list()
        labelsDict = OrderedDict({})
        for key in indexVals:
            for value in labels:
                labelsDict[key] = value
                labels.remove(value)
                break

        labelsDict.update({"geometry": "geometry"})
        labelsDict.move_to_end("geometry", last = False)

        labelsDict.update({"GEOID": "GEOID"})
        labelsDict.move_to_end("GEOID", last = False)

        labelsDict.update({"state": "state"})
        labelsDict.update({"county": "county"})
        labelsDict.update({"tract": "tract"})
        labelsDict.update({"NAME": "NAME"})
    
    # rename the dataframe
    currentDF.columns = currentDF.columns.to_series().map(labelsDict)
    
    # drop the duplciate columns in the county dataframe
    currentDF = currentDF.loc[:, ~currentDF.columns.duplicated()].copy()
    
    # only keep the previously selected columns
    currentDF = currentDF[to_keep]

    # rename the columns 
    currentDF = currentDF.set_axis(rename, axis = 1)
    
    
    # get the sums for each category and put into a dictonary
    current_sums = currentDF.sum().to_dict()
    current_sums = OrderedDict(current_sums)

    current_sums.update({"County": current})
    current_sums.move_to_end("County", last = False)

    current_sums = dict(current_sums)

    # if first run through
    # get the headers for the final dataframe
    # append to the final dataframe
    if i == 0:
        headers = list(current_sums.keys())
        sexData.append(headers)
        
    # create inner_row to append
    # and append to final dataframe
    inner_row = list(current_sums.values())
    sexData0.append(inner_row)


# # make into dataframe
# sexDF = pd.DataFrame(sexData)

# # view
# sexDF

# append all to sexData
sexData.append(sexData0)
# sexData.append(sexData1)
# sexData.append(sexData2)
# sexData.append(sexData3)
# sexData.append(sexData4)
# sexData.append(sexData5)

HTTPError: 429 Client Error:  for url: https://api.census.gov/data/2019/acs/acs5?get=B01001A_001E,B01001A_002E,B01001A_003E,B01001A_004E,B01001A_005E,B01001A_006E,B01001A_007E,B01001A_008E,B01001A_009E,B01001A_010E,B01001A_011E,B01001A_012E,B01001A_013E,B01001A_014E,B01001A_015E,B01001A_016E,B01001A_017E,B01001A_018E,B01001A_019E,B01001A_020E,B01001A_021E,B01001A_022E,B01001A_023E,B01001A_024E,B01001A_025E,B01001A_026E,B01001A_027E,B01001A_028E,B01001A_029E,B01001A_030E,B01001A_031E,B01001B_001E,B01001B_002E,B01001B_003E,B01001B_004E,B01001B_005E,B01001B_006E,B01001B_007E,B01001B_008E,B01001B_009E,B01001B_010E,B01001B_011E,B01001B_012E,B01001B_013E,B01001B_014E,B01001B_015E,B01001B_016E,B01001B_017E&for=tract:014612,014609,001700,001901,001500,014201,014401,014301,013100,014613,014606,014502,000501,002000,002200,013707,000300,001100,013300,014501,000401,014203,000404,014100,014302,001902,000403,013703,000502,001400,000100,013602,014802,014615,014202,014001,013508,013000,013601,012800,012700,014801,013801,014608,013902,014402,001600,000600,000800,000700,013200,014614,014002,002100,013507,002300,013706,002600,013505,012900,014700,014803,014611,013705,000200,013400,014503,013802,013901,014607,001802,001801,002500,013503,013506&in=state:36+county:001

In [22]:
# write to sex data to csv
# as backup
sexDF.to_csv("NY_sexData.csv")

NameError: name 'sexDF' is not defined

## Create Dataframe on Race Data

In [35]:
acs.filter_tables('RACE', by = 'description')

,description,columns
table_name,,
B02001,RACE,"[B02001_001E, B02001_002E, B02001_003E, B02001..."
B02008,WHITE ALONE OR IN COMBINATION WITH ONE OR MORE...,[B02008_001E]
B02009,BLACK OR AFRICAN AMERICAN ALONE OR IN COMBINAT...,[B02009_001E]
B02010,AMERICAN INDIAN AND ALASKA NATIVE ALONE OR IN ...,[B02010_001E]
B02011,ASIAN ALONE OR IN COMBINATION WITH ONE OR MORE...,[B02011_001E]
B02012,NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALO...,[B02012_001E]
B02013,SOME OTHER RACE ALONE OR IN COMBINATION WITH O...,[B02013_001E]
B03002,HISPANIC OR LATINO ORIGIN BY RACE,"[B03002_001E, B03002_002E, B03002_003E, B03002..."
B25006,RACE OF HOUSEHOLDER,"[B25006_001E, B25006_002E, B25006_003E, B25006..."
B98013,TOTAL POPULATION COVERAGE RATE BY WEIGHTING RA...,"[B98013_001E, B98013_002E, B98013_003E, B98013..."
B99021,ALLOCATION OF RACE,"[B99021_001E, B99021_002E, B99021_003E]"
C02003,DETAILED RACE,"[C02003_001E, C02003_002E, C02003_003E, C02003..."

In [37]:
totalRaceData = acs.filter_variables('B02001')
totalRaceData

,label,concept,predicateType,group,limit,predicateOnly,hasGeoCollectionSupport,attributes,required
B02001_009E,Estimate!!Total:!!Two or more races:!!Two race...,RACE,int,B02001,0,NaN,NaN,"B02001_009EA,B02001_009M,B02001_009MA",NaN
B02001_007E,Estimate!!Total:!!Some other race alone,RACE,int,B02001,0,NaN,NaN,"B02001_007EA,B02001_007M,B02001_007MA",NaN
B02001_008E,Estimate!!Total:!!Two or more races:,RACE,int,B02001,0,NaN,NaN,"B02001_008EA,B02001_008M,B02001_008MA",NaN
B02001_010E,Estimate!!Total:!!Two or more races:!!Two race...,RACE,int,B02001,0,NaN,NaN,"B02001_010EA,B02001_010M,B02001_010MA",NaN
B02001_002E,Estimate!!Total:!!White alone,RACE,int,B02001,0,NaN,NaN,"B02001_002EA,B02001_002M,B02001_002MA",NaN
B02001_001E,Estimate!!Total:,RACE,int,B02001,0,NaN,NaN,"B02001_001EA,B02001_001M,B02001_001MA",NaN
B02001_006E,Estimate!!Total:!!Native Hawaiian and Other Pa...,RACE,int,B02001,0,NaN,NaN,"B02001_006EA,B02001_006M,B02001_006MA",NaN
B02001_005E,Estimate!!Total:!!Asian alone,RACE,int,B02001,0,NaN,NaN,"B02001_005EA,B02001_005M,B02001_005MA",NaN
B02001_004E,Estimate!!Total:!!American Indian and Alaska N...,RACE,int,B02001,0,NaN,NaN,"B02001_004EA,B02001_004M,B02001_004MA",NaN
B02001_003E,Estimate!!Total:!!Black or African American alone,RACE,int,B02001,0,NaN,NaN,"B02001_003EA,B02001_003M,B02001_003MA",NaN

In [40]:
raceData = []
raceData0 = [] # 0 - 9
raceData1 = [] # 10 - 19
raceData2 = [] # 20 - 29
raceData3 = [] # 30 - 39
raceData4 = [] # 40 - 49
raceData5 = [] # 50 - 54


# renamed column names
rename = ["Total: Two or more races: Two races including Some other race", "Total: Some other race alone", 
          "Total: Two or more races", "Total: Two or more races excluding Some other race, and three or more races",
          "Total: White alone", "Total:",
          "Total: Native Hawaiian and Other Pacific Islander alone",
          "Total: Asian alone", "Total: American Indian and Alaska Native alone",
          "Total: Black or African American alone"]

# run in groups of 10 because of 'too many requests' error

for i in range(10):

    name = counties[i] + ", NY"
    currentDF = acs.from_county(name, variables = 'B01001')
    current = counties[i]
    
    # if first round through
    # create labels to rename the dataframes
    if i == 0:
        indexVals = totalRaceData.index
        labels = totalRaceData['label'].to_list()
        labelsDict = OrderedDict({})
        for key in indexVals:
            for value in labels:
                labelsDict[key] = value
                labels.remove(value)
                break

        labelsDict.update({"geometry": "geometry"})
        labelsDict.move_to_end("geometry", last = False)

        labelsDict.update({"GEOID": "GEOID"})
        labelsDict.move_to_end("GEOID", last = False)

        labelsDict.update({"state": "state"})
        labelsDict.update({"county": "county"})
        labelsDict.update({"tract": "tract"})
        labelsDict.update({"NAME": "NAME"})
    
    # rename the dataframe
    currentDF.columns = currentDF.columns.to_series().map(labelsDict)
    

    # rename the columns 
    currentDF = currentDF.set_axis(rename, axis = 1)
    
    
    # get the sums for each category and put into a dictonary
    current_sums = currentDF.sum().to_dict()
    current_sums = OrderedDict(current_sums)

    current_sums.update({"County": current})
    current_sums.move_to_end("County", last = False)

    current_sums = dict(current_sums)

    # if first run through
    # get the headers for the final dataframe
    # append to the final dataframe
    if i == 0:
        headers = list(current_sums.keys())
        raceData.append(headers)
        
    # create inner_row to append
    # and append to final dataframe
    inner_row = list(current_sums.values())
    raceData0.append(inner_row)


# # make into dataframe
# raceDF = pd.DataFrame(raceData)

# # view
# sexDF

# append all to raceData
raceData.append(raceData0)
# raceData.append(raceData1)
# raceData.append(raceData2)
# raceData.append(raceData3)
# raceData.append(raceData4)
# raceData.append(raceData5)

HTTPError: 429 Client Error:  for url: https://api.census.gov/data/2019/acs/acs5?get=B01001A_001E,B01001A_002E,B01001A_003E,B01001A_004E,B01001A_005E,B01001A_006E,B01001A_007E,B01001A_008E,B01001A_009E,B01001A_010E,B01001A_011E,B01001A_012E,B01001A_013E,B01001A_014E,B01001A_015E,B01001A_016E,B01001A_017E,B01001A_018E,B01001A_019E,B01001A_020E,B01001A_021E,B01001A_022E,B01001A_023E,B01001A_024E,B01001A_025E,B01001A_026E,B01001A_027E,B01001A_028E,B01001A_029E,B01001A_030E,B01001A_031E,B01001B_001E,B01001B_002E,B01001B_003E,B01001B_004E,B01001B_005E,B01001B_006E,B01001B_007E,B01001B_008E,B01001B_009E,B01001B_010E,B01001B_011E,B01001B_012E,B01001B_013E,B01001B_014E,B01001B_015E,B01001B_016E,B01001B_017E&for=tract:014612,014609,001700,001901,001500,014201,014401,014301,013100,014613,014606,014502,000501,002000,002200,013707,000300,001100,013300,014501,000401,014203,000404,014100,014302,001902,000403,013703,000502,001400,000100,013602,014802,014615,014202,014001,013508,013000,013601,012800,012700,014801,013801,014608,013902,014402,001600,000600,000800,000700,013200,014614,014002,002100,013507,002300,013706,002600,013505,012900,014700,014803,014611,013705,000200,013400,014503,013802,013901,014607,001802,001801,002500,013503,013506&in=state:36+county:001

## Create Dataframe on Education

In [46]:
acs.filter_tables('EDUCATION', by = 'description')

,description,columns
table_name,,
B06009,PLACE OF BIRTH BY EDUCATIONAL ATTAINMENT IN TH...,"[B06009_001E, B06009_002E, B06009_003E, B06009..."
B07009,GEOGRAPHICAL MOBILITY IN THE PAST YEAR BY EDUC...,"[B07009_001E, B07009_002E, B07009_003E, B07009..."
B07409,GEOGRAPHICAL MOBILITY IN THE PAST YEAR BY EDUC...,"[B07409_001E, B07409_002E, B07409_003E, B07409..."
B13014,WOMEN 15 TO 50 YEARS WHO HAD A BIRTH IN THE PA...,"[B13014_001E, B13014_002E, B13014_003E, B13014..."
B14005,SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAIN...,"[B14005_001E, B14005_002E, B14005_003E, B14005..."
B15001,SEX BY AGE BY EDUCATIONAL ATTAINMENT FOR THE P...,"[B15001_001E, B15001_002E, B15001_003E, B15001..."
B15002,SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATI...,"[B15002_001E, B15002_002E, B15002_003E, B15002..."
B15003,EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 Y...,"[B15003_001E, B15003_002E, B15003_003E, B15003..."
B16010,EDUCATIONAL ATTAINMENT AND EMPLOYMENT STATUS B...,"[B16010_001E, B16010_002E, B16010_003E, B16010..."
B17003,POVERTY STATUS IN THE PAST 12 MONTHS OF INDIVI...,"[B17003_001E, B17003_002E, B17003_003E, B17003..."
B17018,POVERTY STATUS IN THE PAST 12 MONTHS OF FAMILI...,"[B17018_001E, B17018_002E, B17018_003E, B17018..."
B20004,MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2019...,"[B20004_001E, B20004_002E, B20004_003E, B20004..."
B21003,VETERAN STATUS BY EDUCATIONAL ATTAINMENT FOR T...,"[B21003_001E, B21003_002E, B21003_003E, B21003..."
B23006,EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FO...,"[B23006_001E, B23006_002E, B23006_003E, B23006..."
B25013,TENURE BY EDUCATIONAL ATTAINMENT OF HOUSEHOLDER,"[B25013_001E, B25013_002E, B25013_003E, B25013..."
B26106,GROUP QUARTERS TYPE (3 TYPES) BY EDUCATIONAL A...,"[B26106_001E, B26106_002E, B26106_003E, B26106..."
B26206,GROUP QUARTERS TYPE (5 TYPES) BY EDUCATIONAL A...,"[B26206_001E, B26206_002E, B26206_003E, B26206..."
B27019,HEALTH INSURANCE COVERAGE STATUS AND TYPE BY A...,"[B27019_001E, B27019_002E, B27019_003E, B27019..."
B28006,EDUCATIONAL ATTAINMENT BY PRESENCE OF A COMPUT...,"[B28006_001E, B28006_002E, B28006_003E, B28006..."
B29002,"CITIZEN, VOTING-AGE POPULATION BY EDUCATIONAL ...","[B29002_001E, B29002_002E, B29002_003E, B29002..."
B99151,ALLOCATION OF EDUCATIONAL ATTAINMENT FOR THE P...,"[B99151_001E, B99151_002E, B99151_003E]"

In [58]:
totalEducationData = acs.filter_variables('B15002')
totalEducationData['label'].unique()


for i in range(len(list(totalEducationData['label'].unique()))):
    print(list(totalEducationData['label'].unique())[i])

Estimate!!Total:!!Male:!!Associate's degree
Estimate!!Total:!!Male:!!Some college, 1 or more years, no degree
Estimate!!Total:!!Male:!!Master's degree
Estimate!!Total:!!Male:!!Bachelor's degree
Estimate!!Total:!!Male:!!Doctorate degree
Estimate!!Total:!!Male:!!Professional school degree
Estimate!!Total:!!Female:
Estimate!!Total:!!Male:!!12th grade, no diploma
Estimate!!Total:!!Male:!!Some college, less than 1 year
Estimate!!Total:!!Male:!!High school graduate (includes equivalency)
Estimate!!Total:!!Male:
Estimate!!Total:
Estimate!!Total:!!Male:!!Nursery to 4th grade
Estimate!!Total:!!Male:!!No schooling completed
Estimate!!Total:!!Male:!!7th and 8th grade
Estimate!!Total:!!Male:!!5th and 6th grade
Estimate!!Total:!!Male:!!11th grade
Estimate!!Total:!!Male:!!10th grade
Estimate!!Total:!!Male:!!9th grade
Estimate!!Total:!!Female:!!Some college, 1 or more years, no degree
Estimate!!Total:!!Female:!!Bachelor's degree
Estimate!!Total:!!Female:!!Associate's degree
Estimate!!Total:!!Female:!!Professional school degree
Estimate!!Total:!!Female:!!Master's degree
Estimate!!Total:!!Female:!!Doctorate degree
Estimate!!Total:!!Female:!!11th grade
Estimate!!Total:!!Female:!!10th grade
Estimate!!Total:!!Female:!!High school graduate (includes equivalency)
Estimate!!Total:!!Female:!!12th grade, no diploma
Estimate!!Total:!!Female:!!Some college, less than 1 year
Estimate!!Total:!!Female:!!No schooling completed
Estimate!!Total:!!Female:!!5th and 6th grade
Estimate!!Total:!!Female:!!Nursery to 4th grade
Estimate!!Total:!!Female:!!9th grade
Estimate!!Total:!!Female:!!7th and 8th grade

In [ ]:
educationData = []
educationData0 = [] # 0 - 9
educationData1 = [] # 10 - 19
educationData2 = [] # 20 - 29
educationData3 = [] # 30 - 39
educationData4 = [] # 40 - 49
educationData5 = [] # 50 - 54

# the columns we are looking for


# renamed column names
rename = ["Total: Two or more races: Two races including Some other race", "Total: Some other race alone", 
          "Total: Two or more races", "Total: Two or more races excluding Some other race, and three or more races",
          "Total: White alone", "Total:",
          "Total: Native Hawaiian and Other Pacific Islander alone",
          "Total: Asian alone", "Total: American Indian and Alaska Native alone",
          "Total: Black or African American alone"]

# run in groups of 10 because of 'too many requests' error

for i in range(10):

    name = counties[i] + ", NY"
    currentDF = acs.from_county(name, variables = 'B01001')
    current = counties[i]
    
    # if first round through
    # create labels to rename the dataframes
    if i == 0:
        indexVals = totalRaceData.index
        labels = totalRaceData['label'].to_list()
        labelsDict = OrderedDict({})
        for key in indexVals:
            for value in labels:
                labelsDict[key] = value
                labels.remove(value)
                break

        labelsDict.update({"geometry": "geometry"})
        labelsDict.move_to_end("geometry", last = False)

        labelsDict.update({"GEOID": "GEOID"})
        labelsDict.move_to_end("GEOID", last = False)

        labelsDict.update({"state": "state"})
        labelsDict.update({"county": "county"})
        labelsDict.update({"tract": "tract"})
        labelsDict.update({"NAME": "NAME"})
    
    # rename the dataframe
    currentDF.columns = currentDF.columns.to_series().map(labelsDict)
    

    # rename the columns 
    currentDF = currentDF.set_axis(rename, axis = 1)
    
    
    # get the sums for each category and put into a dictonary
    current_sums = currentDF.sum().to_dict()
    current_sums = OrderedDict(current_sums)

    current_sums.update({"County": current})
    current_sums.move_to_end("County", last = False)

    current_sums = dict(current_sums)

    # if first run through
    # get the headers for the final dataframe
    # append to the final dataframe
    if i == 0:
        headers = list(current_sums.keys())
        raceData.append(headers)
        
    # create inner_row to append
    # and append to final dataframe
    inner_row = list(current_sums.values())
    raceData0.append(inner_row)


# # make into dataframe
# raceDF = pd.DataFrame(raceData)

# # view
# sexDF

# append all to sexData
raceData.append(raceData0)
# raceData.append(raceData1)
# raceData.append(raceData2)
# raceData.append(raceData3)
# raceData.append(raceData4)
# raceData.append(raceData5)